@font-face {
    font-family: 'vhe';
    src: url('/Content/font/vhe/vhe.eot');
    src: url('/Content/font/vhe/vhe.eot?#iefix') format('embedded-opentype'),
         url('/Content/font/vhe/vhe.woff') format('woff'),
         url('/Content/font/vhe/vhe.ttf') format('truetype'),
         url('/Content/font/vhe/vhe.svg#vhe') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* CSS Document */ 
html, body, div, span, h1, h2, h3, h4, h5, h6, p,a, em, img, strong, ol, ul, li 
{ margin:0px; padding:0px; border:0px; outline:0px; vertical-align:baseline; background:transparent; text-decoration:none; font-family:arial; font-size:12px;}
body { width:100%; background:url(/Content/images/BG-Body.jpg) repeat-x top #e9fcff;}

/*________________Index________________*/
.index { width:100%; float:left; background:url(/Content/images/BG-Index.jpg) no-repeat center top; position:relative;}
.mainindex { width:940px; height:auto; margin:0 auto;}

.header { width:940px; height:auto; float:left;}
.logo { float:left; margin: 29px 0 0 33px;}
.titcom { float:left; margin: 75px 0 0 20px;}
.menuhead { float:right; padding-left:9px; height:35px; background:url(/Content/images/menuhead-1.png) no-repeat top left;}
.menuhead ul { float:left; padding-right:9px; height:35px; background:url(/Content/images/menuhead-2.png) no-repeat top right; list-style:none;}
.menuhead li { float:left; height:35px; background:url(/Content/images/menuhead.png) repeat-x;}
.menuhead span { color:#333; line-height:30px; display:block;}
.menuhead li.language { padding-right:10px;}
.menuhead li.language p { color:#333; float:left; line-height:31px; padding-left:10px;}
.menuhead li.language a { float:left; margin:7px 0 0 7px;}
.menuhead li.butdk { padding-right:10px;}
.menuhead li.butdk a { color:#333; float:left; line-height:31px; padding-left:10px;}
.menuhead li.butdk a:hover { color:white; text-decoration:underline;}
.menuhead li.cart a { color:#333; float:left; line-height:31px; padding:0 10px 0 30px; background:url(/Content/images/icon-1.png) no-repeat top left; margin-left:10px;}

.menuTop { width:940px; height:87px; float:left; margin-top:25px; background:url(/Content/images/BG-Menu.jpg) no-repeat;
-moz-box-shadow:2px 2px 2px #ddd; /* Firefox */
-webkit-box-shadow:2px 2px 2px #ddd; /* Safari and Chrome */
box-shadow:2px 2px 2px #ddd; /* Opera 10.5+, future browsers and IE6+ */
behavior: url(ie-css3.htc); /* hack for IE */
}
.menuTop/*:hover*/ { height:130px;}
.menuTop ul { list-style:none;}

.menuTop > ul { width:934px; height:84px; float:left; margin:3px 0 0 3px; position:relative; z-index:1003;}

.menuTop > ul > li { height:84px; float:left; background:url(/Content/images/me-2.jpg) no-repeat top left; padding-left:2px;}
.menuTop > ul > li.home { background:none;}
.menuTop > ul > li > a { float:left; height:84px;}
.menuTop > ul > li > a > img { display:block; margin:0 auto; text-align:center; height:42px;}
.menuTop > ul > li > a > span { display:block; color:white; font-weight:bold; font-size:14px; text-transform:uppercase; text-shadow:1px 1px 1px #666; padding:0 17px; margin-top:5px; text-align:center;}

.menuTop > ul > li:hover > a, .menuTop > ul > li.active > a { float:left; background:url(/Content/images/me-1.jpg) repeat-x;}

.menuTop > ul > li > ul { display:none; width:934px; position:absolute; top:81px; left:0; padding:10px 0;}
.menuTop > ul > li:hover > ul, .menuTop > ul > li.active > ul { display:block;}
.menuTop > ul > li > ul > li { width:auto; padding:7px 0 5px 20px; float:left;}
.menuTop > ul > li > ul > li > a { color:#333; font-size:14px; text-transform:uppercase;}
.menuTop > ul > li > ul > li > span { float:right; padding-left:20px;}
.menuTop > ul > li > ul > li:hover > a, .menuTop > ul > li > ul > li.active > a { color:white; font-weight:bold;}

.banner { width:940px; height:370px; float:left; margin-top:10px; background:url(/Content/images/BG-Banner.png) no-repeat top; padding:0 15px; position:relative; margin-left:-15px;}
#zalen { width:924px; height:354px; float:left; padding:7px; background:white; border:1px solid #ddd;}

.viewhome { width:940px; float:left; margin-top:40px; border-top:6px #1cbf34 solid;}
.viewhomeI { width:938px; height:318px; float:left; border:1px solid #c7dfe4; border-top:none; background:url(/Content/images/icon_1.jpg) repeat-x; position:relative;
border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;

-moz-box-shadow:3px 3px 3px #ddd; /* Firefox */
-webkit-box-shadow:3px 3px 3px #ddd; /* Safari and Chrome */
box-shadow:3px 3px 3px #ddd; /* Opera 10.5+, future browsers and IE6+ */
 
behavior: url(ie-css3.htc); /* hack for IE */
}

.viewhomeII { width:298px; height:345px; position:absolute; top:-16px; left:320px; border:1px solid #c7dfe4; border-top:6px solid #ffc416; background:url(/Content/images/icon_2.jpg) repeat-x;
border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;

-moz-box-shadow:3px 3px 3px #ddd; /* Firefox */
-webkit-box-shadow:3px 3px 3px #ddd; /* Safari and Chrome */
box-shadow:3px 3px 3px #ddd; /* Opera 10.5+, future browsers and IE6+ */
 
behavior: url(ie-css3.htc); /* hack for IE */
}

.LviewI { width:280px; height:298px; float:left; margin:10px 20px; overflow:hidden; background:url(/Content/images/icon_3.png) no-repeat top center; position:relative;}
.LviewI p { width:280px; font-weight:bold; color:#333; margin-top:110px; font-size:18px; font-family:tahoma;}
.LviewI span { width:280px; color:#333; display:block; line-height:18px; margin-top:10px; text-align:justify;}
.LviewI a { width:255px; height:auto; position:absolute; left:0; bottom:0; text-align:right; border-top:1px solid #ddd; color:#333; background:url(/Content/images/icon_6.png) no-repeat top right; padding:20px 25px 10px 0;}
.RviewI { width:280px; height:298px; float:right; margin:10px 20px; overflow:hidden; background:url(/Content/images/icon_4.png) no-repeat top center; position:relative;}
.RviewI p { width:280px; font-weight:bold; color:#333; margin-top:88px; font-size:18px; font-family:tahoma;}
.RviewI span { width:280px; color:#333; display:block; line-height:18px; margin-top:10px; text-align:justify;}
.RviewI a { width:255px; height:auto; position:absolute; left:0; bottom:0; text-align:right; border-top:1px solid #ddd; color:#333; background:url(/Content/images/icon_6.png) no-repeat top right; padding:20px 25px 10px 0;}
.CviewI { width:250px; height:325px; float:right; margin:10px 20px; overflow:hidden; background:url(/Content/images/icon_5.png) no-repeat top center; position:relative;}
.CviewI p { width:250px; font-weight:bold; color:#333; margin-top:120px; font-size:18px; font-family:tahoma;}
.CviewI span { width:250px; color:#333; display:block; line-height:18px; margin-top:10px; text-align:justify;}
.CviewI a { width:225px; height:auto; position:absolute; left:0; bottom:0; text-align:right; border-top:1px solid #ddd; color:#333; background:url(/Content/images/icon_6.png) no-repeat top right; padding:20px 25px 10px 0;}

.viewIIhome { width:939px; height:392px; margin-top:50px; float:left; border-bottom:1px solid #b4cacf; border-right:1px solid #b4cacf;
border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-left-radius:0px;
border-bottom-right-radius:5px;

-moz-box-shadow:3px 3px 3px #ddd; /* Firefox */
-webkit-box-shadow:3px 3px 3px #ddd; /* Safari and Chrome */
box-shadow:3px 3px 3px #ddd; /* Opera 10.5+, future browsers and IE6+ */
 
behavior: url(ie-css3.htc); /* hack for IE */
}

.video { width:619px; height:392px; float:left;}
.news { width:320px; height:392px; float:right;}
.news > p { width:320px; height:48px; float:left; background:url(/Content/images/icon_7.jpg) repeat-x;}
.news > p > span { font-weight:bold; color:white; display:block; line-height:48px; font-size:18px; font-family:"tahoma"; padding-left:60px; background:url(/Content/images/icon_8.png) no-repeat top left;}
.news ul { list-style:none; float:left; width:300px; margin:10px 10px 0 10px; padding-bottom:10px; border-bottom:1px solid #ddd;}
.news li.pic { max-width:95px; height:auto; float:left; border:1px solid #ddd;}
.news li.pic > a > img { max-width:95px; float:left;}
.news li.tit { width:190px; height:30px; float:right; overflow:hidden;}
.news li.tit > a { font-weight:bold; text-align:justify; color:#333;}
.news li.con { width:190px; height:30px; float:right; margin-top:3px; overflow:hidden;}
.news li.con > p { text-align:justify; color:#333;}
.news > a { font-weight:bold; color:#666; margin:10px 0 0 15px; float:left; width:280px; height:30px; overflow:hidden; padding-left:15px; background:url(/Content/images/icon_9.png) no-repeat top left;}
.news > a:hover { text-decoration:underline;}

.prohome { width:940px; height:auto; float:left; margin-top:40px;}
.Tprohone { width:940px; height:42px; float:left; background:url(/Content/images/icon_10.png) no-repeat;}
.Tprohone > h3 { height:38px; float:left; background:url(/Content/images/icon_11.png) no-repeat top right; margin-left:48px; padding-right:62px;}
.Tprohone > h3 > p { font-weight:bold; height:38px; display:block; line-height:43px; background:url(/Content/images/icon_12.jpg) repeat-x; font-size:18px; font-family:"tahoma"; color:white; padding:0 20px;}
.Cprohone { width:938px; height:auto; float:left; border:1px solid #ddd; padding-bottom:20px; background:url(/Content/images/icon_13.jpg) repeat-x bottom white;
border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;

-moz-box-shadow:3px 3px 3px #ddd; /* Firefox */
-webkit-box-shadow:3px 3px 3px #ddd; /* Safari and Chrome */
box-shadow:3px 3px 3px #ddd; /* Opera 10.5+, future browsers and IE6+ */
 
behavior: url(ie-css3.htc); /* hack for IE */
}

.boxPro { width:286px; height:auto; float:left; margin:20px 0  0 20px;}
.boxPro ul { list-style:none;}
.boxPro li.pic { width:284px; height:180px; float:left; border:1px solid #ddd;}
	.pic_1 { width:284px; height:180px; text-align: center; vertical-align: middle;}
	.pic_1 img { margin:0 auto; max-width:264px; max-height:160px;}
.boxPro li.tit { width:286px; height:15px; float:left; overflow:hidden; margin-top:5px;}
.boxPro li.tit > a { font-weight:bold; color:#333; text-align:center; display:block;}

.sliderproducts { width:878px; height:70px; float:left; margin:10px 30px 0 30px;}
.jcarousel-skin-tango .jcarousel-container { width:878px; height:auto; float:left;}
.jcarousel-skin-tango .jcarousel-container-horizontal { width:878px;}
.jcarousel-skin-tango .jcarousel-clip { overflow: hidden;}
.jcarousel-skin-tango .jcarousel-clip-horizontal { width:878px; height:70px;}
.jcarousel-skin-tango .jcarousel-item { height:60px;}
.jcarousel-next-horizontal 
{ position: absolute; bottom:50%; margin-bottom:-30px; right:-44px; width:44px; height:52px; cursor: pointer; background:url(/Content/images/next-horizontal.png) no-repeat;}
.jcarousel-prev-horizontal 
{ position: absolute; bottom:50%; margin-bottom:-30px; left:-44px; width:44px; height:52px; cursor: pointer; background:url(/Content/images/prev-horizontal.png) no-repeat;}
ul#mycarousel, ul#mycarousel li ul { list-style:none; float:left;}
ul#mycarousel li { width:175px; height:70px; float:left; display:block;}
	.pic_2 { width:175px; height:70px; text-align: center; vertical-align: middle;}
	.pic_2 img { margin:0 auto; max-width:175px; max-height:70px;}
	
.QMbottom { width:100%; height:auto; float:left; background:url(/Content/images/icon_14.png) repeat-x top #414b52; margin-top:20px;}
.QM_bottom { width:940px; height:auto; margin:0 auto;}

.boxTT { width:200px; height:auto; float:left; margin:10px 35px 0 0;}
.boxTT > ul { list-style:none;}
.boxTT > ul > li.tit { width:200px; height:30px; float:left; border-bottom:1px solid #545d64;}
.boxTT > ul > li.tit > p { color:#b5bbbf; font-weight:bold; line-height:30px; font-size:14px;}
.boxTT > ul > li { width:200px; height:auto; float:left; margin-top:5px;}
.boxTT > ul > li > a { color:white; margin-top:8px; margin-right:5px; display:block; float:left;}
.boxTT > ul > li > a:hover { text-decoration:underline;}

.boxTTT { width:200px; height:auto; float:left;}

.boxTT0 { width:200px; height:auto; float:left; margin:15px 0 0 35px;}
.boxTT0 > p { width:200px; height:30px; float:left; border-bottom:1px solid #545d64; color:#b5bbbf; font-weight:bold; line-height:30px; font-size:16px; color:white;}
.boxTT0 ul { list-style:none; float:left; margin-top:5px;}
.boxTT0 > ul > li { width:200px; height:auto; float:left; margin-top:5px; padding:5px 0 5px 30px;}
.boxTT0 a { color:white; font-size:13px;}
.boxTT0 li.ht-1 { background:url(/Content/images/icon_22.png) no-repeat top left;}
.boxTT0 li.ht-2 { background:url(/Content/images/icon_23.png) no-repeat top left;}
.boxTT0 li.ht-3 { background:url(/Content/images/icon_24.png) no-repeat top left;}

.boxTT > ul > li > span { color:white; float:left; font-weight:bold; line-height:24px;} 
.boxTT > ul > li > p { color:white; float:left; font-weight:bold; font-size:16px; font-family:tahoma; margin-left:10px;} 

.Icopy { width:100%; float:left; background:#2d3439; margin-top:20px;}
.copy { margin:0 auto; width:940px;}
.copy ul { list-style:none;}
.copy li { float:left;}
.copy li span { color:#ccc; padding:15px 0 10px 10px; display:block;}
.copy li p { color:white; font-weight:bold; padding:0 0 0 10px; display:block;}

/*-Sub-*/

.leftContent { width:700px; float:left; margin-top:20px; background:url(/Content/images/BG-Content.png) no-repeat; padding:0 15px; position:relative; margin-left:-15px;}
.boxLeft { width:698px; float:left; border:1px solid #ddd; background:white;}

/*sanpham*/
/*___chitietsanpham___*/

.chitietsanpham { width:698px; float:left; position:relative;}
.chitietsanpham > p { width:658px; height:40px; float:left; border-bottom:1px solid #ddd; font-size:16px; font-weight:bold; color:#333; line-height:40px; margin:10px 0 0 10px; padding-left:20px; background:url(/Content/images/icon_25.png) no-repeat top left;}
.hinhsanpham { width:302px; height:auto; float:left; margin:10px;}

#lofslidecontent45 { width:302px; height:auto; float:left;}
.lof-main-outer { width:302px; height:auto; float:left;}

.lof-opacity > li { position:absolute; float:inherit;}
ul.lof-main-wapper { list-style:none;}
ul.lof-main-wapper > li {  width:300px; height:240px; float:left; padding:0; border:1px solid #ddd;}
ul.lof-main-wapper > li > img { float:right; max-width:300px; max-height:240px; position:absolute; top:0; left:0;}

	.pic_3 { width:300px; height:240px; text-align: center; vertical-align: middle;}
	.pic_3 img { margin:0 auto; max-width:300px; max-height:240px;}

.lof-navigator-wapper { width:300px; height:85px; position:relative; float:left; margin-top:253px; border:1px solid #ddd;}

.lof-navigator-outer { position:relative; height:85px; width:380px; overflow:hidden; float:left; margin-left:7px;}
ul.lof-navigator { position:absolute; width:380px; height:85px; float:left;}
ul.lof-navigator li { cursor:hand; cursor:pointer; overflow:hidden; float:left; display:block;	text-align:center; margin-top:6px; width:91px; height:73px;}
/*ul.lof-navigator li img { border:#ddd solid 1px; background:#ccc; max-width:89px; max-height:103px;}*/

	.pic_4 { width:91px; height:73px; text-align: center; vertical-align: middle;}
	.pic_4 img { margin:0 auto; max-width:91px; max-height:73px;}

ul.lof-navigator li.active img, ul.lof-navigator li:hover img {	border:#1580b9 solid 1px;}
.lof-next { width:8px; height:8px; float:left; background:url(/Content/images/next.png) no-repeat; position:absolute; top:40px; right:0; cursor:pointer;}
.lof-next a { float:left; margin-left:20px; margin-top:3px; font-size:12px; color:#333; font-style:inherit;}
.lof-previous { width:8px; height:8px; float:left; background:url(/Content/images/prev.png) no-repeat;  position:absolute; top:40px; left:0; cursor:pointer;}
.lof-previous a { float:left; margin-left:15px; margin-top:3px; font-size:12px; color:#333; font-style:inherit;}
.lof-main-outer .lof-next,  .lof-main-outer .lof-previous { display:block; width:40px; color:#FFF; cursor:pointer; position:absolute; height:100%; z-index:3; top:0; text-indent:-999px;}

.cloud-zoom-big {
border:1px solid #ddd;
overflow:hidden;
background:red;
margin-left:10px;
margin-top:-1px;
}
.cloud-zoom-lens { border:1px solid #ddd; margin:-4px; background-color:#fff; cursor:move;}

.thongtinsp { width:330px; min-height:340px; float:right; margin:10px 10px 0 0;}
.thongtinsp ul { list-style:none;}
.thongtinsp li { width:330px;}
.thongtinsp li.Pr1 { height:auto; float:left; border-bottom:1px dotted #ddd; margin-bottom:10px;}
.thongtinsp li.Pr1 span { color:#666; font-size:12px; display:block; padding-bottom:10px;}
.thongtinsp li.Pr1 p { font-weight:bold; color:#333; float:left; padding-right:10px; width:150px;}
.thongtinsp li.Pr1 span.G-1 { color:#F60; font-size:16px; font-family:"tahoma"; font-weight:bold;}
.thongtinsp li.Pr1 span.G-1 p { display:block; line-height:23px;}
.thongtinsp li.Pr1 span.G-2 { color:#F60; text-decoration:line-through;}

.thongtinsp li.Pr2 { height:auto; float:left; margin-bottom:10px;}
.thongtinsp li.Pr2 span { color:#666; font-size:12px; display:block; padding-bottom:10px;}
.thongtinsp li.Pr2 p { font-weight:bold; color:#333; float:left; padding-right:10px; width:150px;}

input.slu { width:30px; height:6px; float:left; padding:5px 10px; margin-right:10px; border:1px solid #ddd;}

.thongtinsp li.Pr3 { float:left; margin:10px 0 0 160px;}

.thongtincanbiet { width:768px; height:auto; float:left; margin:10px;}
.container {width:768px;}
ul.tabs { width:768px; height:30px; float:left; list-style: none; background:none;}

ul.tabs li { float:left; height:30px; padding-left:10px; margin-right:2px; background:url(/Content/images/na-1.png) no-repeat top left;}
ul.tabs li a { float:left; display:block; padding-right:10px; background:url(/Content/images/na-2.png) no-repeat top right;}
ul.tabs li a span { float:left; display:block; color:#333; line-height:32px; background:url(/Content/images/na-3.png) repeat-x; padding:0 10px;}

ul.tabs li:hover, ul.tabs li.active { background:url(/Content/images/xa-1.png) no-repeat top left;}
ul.tabs li:hover a, ul.tabs li.active a { background:url(/Content/images/xa-2.png) no-repeat top right;}
ul.tabs li:hover a span, ul.tabs li.active a span { background:url(/Content/images/xa-3.png) repeat-x; color:white;}

.tab_container { width:678px; border-top:none; clear:both; float:left; background:#fff;}
.tab_content { font-size:1.2em;}
.xanh { width:676px; float:left; border:1px solid #ddd; border-top:1px solid #7b7b7b;}

.mota { width:746px; float:left; margin:10px;}
.thuoctinh { width:746px; height:auto; float:left; margin:10px;}
.danhgia { width:746px; height:auto; float:left; margin:10px;}

.rightContent { width:222px; float:right;}

.boxRight { width:222px; float:left; margin-top:20px; border-top:3px #1cbf34 solid;}
.boxRightI { width:220px; float:left; border:1px solid #c7dfe4; border-top:none; background:url(/Content/images/icon_27.png) repeat-x bottom white; position:relative; padding-bottom:10px;
border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;

-moz-box-shadow:3px 3px 3px #ddd; /* Firefox */
-webkit-box-shadow:3px 3px 3px #ddd; /* Safari and Chrome */
box-shadow:3px 3px 3px #ddd; /* Opera 10.5+, future browsers and IE6+ */
 
behavior: url(ie-css3.htc); /* hack for IE */
}

.boxRightI > p { width:190px; height:40px; float:left; margin:10px 0 0 15px; font-weight:bold; color:#F30; font-size:14px; text-transform:uppercase; font-family:"tahoma"; border-bottom:1px solid #ddd; line-height:40px;}
.boxRightI ul { list-style:none;}
.boxRightI li { width:190px; float:left;}
.picleft { width:71px; height:53px; border:1px solid #ddd; float:left; padding:5px; margin:10px 0 0 15px; margin-right:5px;}
	.pic_5 { width:71px; height:53px; text-align: center; vertical-align: middle;}
	.pic_5 img { margin:0 auto; max-width:71px; max-height:53px;}
/*.boxRightI img { max-width:70px; max-height:70px; height:auto; float:left;}*/
.boxRightI p { margin-top:10px; display:block; float:left;}
.boxRightI span { color:#F60; font-size:14px; font-family:tahoma; margin-top:3px; display:block;}
.boxRightI span.old { color:#666; margin-top:3px; display:block; text-decoration:line-through; font-size:12px; float:left; width:71px;}

.htkhachhang { width:190px; height:auto; float:left; margin:5px 0 0 15px;}
.htkhachhang ul { list-style:none;}
.htkhachhang li { width:175px; float:left; padding-left:15px; background:url(/Content/images/icon_26.png) no-repeat top left; margin-top:5px;}
.htkhachhang a { color:#333;}

.thanhtoan { width:190px; height:auto; float:left; margin:5px 0 0 15px;}
.thanhtoan ul { list-style:none;}
.thanhtoan li { width:80px; height:auto; float:left; border:1px solid #ddd; margin:6px;}

.facebook { width:190px; height:auto; float:left; margin:10px 0 0 15px; padding-bottom:20px;}

.tukhoa { width:222px; height:auto; float:left; padding:20px 0 10px 0; line-height:18px;}
.tukhoa span { font-weight:bold; float:left; padding-right:5px;}
.tukhoa a { color:#015591; float:left; margin-right:3px; text-decoration: underline;}

.AboxLeft { width:698px; float:left; position:relative;}
.AboxLeft > p { width:658px; height:40px; float:left; border-bottom:1px solid #ddd; font-size:16px; font-weight:bold; color:#333; line-height:40px; margin:10px 0 0 10px; padding-left:20px; background:url(/Content/images/icon_25.png) no-repeat top left;}
.AboxLeft > a { position:absolute; top:26px; right:10px; background:url(/Content/images/icon_28.jpg) no-repeat top right; padding:2px 29px 5px 0; color:#333;}

.AABoxLeft { width:638px; height:auto; float:left; margin:20px 0 0 30px; padding-bottom:20px;}
.AABoxLeft ul { list-style:none;}
.AABoxLeft ul.list { float:left; margin-top:10px;}
.AABoxLeft ul.list li { width:620px; float:left; padding:0 0 0 18px; background:url(/Content/images/icon_26.png) no-repeat top left; margin-top:10px;}
.AABoxLeft ul.list a { color:#333;}

.boxTin { width:638px; height:auto; float:left;}
.boxTin li.pic { max-width:150px; border:1px solid #ddd; margin-right:10px; float:left;}
.boxTin li.pic img { width:150px; float:left;}
.boxTin li.tit a { font-weight:bold; color:#333;}
.boxTin li p { color:#666; margin-top:3px;}

.boxVideo { width:145px; height:auto; float:left; margin:0 7px;}
.boxVideo p { color:#333; margin-top:5px;}