<div id="image-vertical">
    <div id="image-top-pane">
        <div id="image-horizontal" style="height: 100%; width: 100%;">
            <div id="image-left-pane">
                <div class="pane-content">
                    <div class="image-folder-section">
                        <div id="folderTreeview">
                        </div>
                    </div>
                </div>
            </div>
            <div id="image-right-pane">
                <div class="pane-content">
                    <div class="image-listview-section">
                        <div id="upload-image">
                            <input name="files" id="files" type="file" />
                        </div>
                        <div id="image-listView"></div>
                        <div id="image-pager" class="k-pager-wrap"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/x-kendo-template" id="image-template">
        <div class="image-list">
            <a href="#:ImageUrl#" onclick="setImageUrl('#:ImageUrl#'); closeImageWindow(); return false;" target="_blank" title="#:ImageUrl#"><img src="#:ImageUrl#" alt="#:ImageUrl#" /></a>
        </div>
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#image-vertical").kendoSplitter({
            orientation: "vertical",
            panes: [
                { collapsible: false }
            ]
        });

        $("#image-horizontal").kendoSplitter({
            orientation: "horizontal",
            panes: [
                { collapsible: true, size: "240px" },
                { collapsible: true }
            ]
        }).data("kendoSplitter");
        var folderId;
        function onSelect(e) {
            folderId = folderTreeview.data('kendoTreeView').dataItem(e.node).Id;
            setImageDataSource(folderId);
            return false;
        }

        function setImageDataSource(id) {
            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: '@Url.Action("GetImages", "Media")' + '?Id=' + id,
                        type: "post",
                        dataType: "json"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options.models) {
                            return { models: kendo.stringify(options.models), page: options.page, pageSize: 32 };
                        }
                        return null;
                    }
                },
                batch: true,
                pageSize: 16
            });
            listView.setDataSource(dataSource);
            pager.setDataSource(dataSource);
        }
        
        var folderDataSource = new kendo.data.HierarchicalDataSource({
            transport: {
                read: {
                    url: '@Url.Action("GetFolders", "Media")',
                    type: "post",
                    dataType: "json"
                }
            },
            schema: {
                model: {
                    id: "Id",
                    hasChildren: "HasChildren"
                }
            }
        });

        var folderTreeview = $("#folderTreeview").kendoTreeView({
            dataSource: folderDataSource,
            dataTextField: "Name",
            select: onSelect
        });
        
        var pager = $("#image-pager").kendoPager();

        var listView = $("#image-listView").kendoListView({
            template: kendo.template($("#image-template").html())
        }).data("kendoListView");
        
        $("#files").kendoUpload({
            multiple: false,
            async: {
                saveUrl: '@Url.Action("Upload", "Media")',
                autoUpload: true
            },
            localization: {
                select: 'Thêm ảnh'
            },
            upload: function (e) {
                e.data = { Id: folderId };
            },
            success: onSuccess
        });
        function onSuccess(e) {
            $(".k-upload-files").fadeOut(5000, function () {
                $(this).remove();
            });
            setImageDataSource(folderId);
        }
    });
</script>