<div class="boxTT" style="margin:0px">
                    <ul>
                        <li class="tit"><p>Thống kê truy cập</p></li>
                        <li><span>Số người truy cập:</span><p>@String.Format("{0:#,#}", Session["hits"])</p></li>                        
                        <li><span>Số thành viên:</span><p>@String.Format("{0:#,#}", (float)ViewBag.UserCount)</p></li>                        
                    </ul>
                </div><!--boxTT-->