.tabbable {
	margin-bottom: 15px;
}
.nav-tabs {
	border-color: #DDDDDD;
	margin-bottom: 0;
	margin-left: 0;
	position: relative;
	top: 1px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background-color: #FFFFFF;
	border-color: #DDDDDD #DDDDDD transparent;
	border-top: 2px solid #DDDDDD;
	color: #333333;
	line-height: 16px;
	margin-top: -1px;
	z-index: 12;
}

.nav-tabs > li:first-child > a {
	margin-left: 0;
}
.nav-tabs > li > a:hover {
	background-color: #FFFFFF;
	border-color: #DDDDDD;
	color: #4C8FBD;
}
.nav-tabs > li > a, .nav-tabs > li > a:focus {
	background-color: #F9F9F9;
	border-color: #DDDDDD;
	border-radius: 0 0 0 0 !important;
	color: #999999;
	line-height: 16px;
	margin-right: -1px;
	position: relative;
	z-index: 11;
}

.tab-content {
	border: 1px solid #DDDDDD;
	padding: 16px 12px;
	position: relative;
	z-index: 11;
}
.tabs-below > .nav-tabs {
	border-bottom-width: 0;
	border-color: #DDDDDD;
	margin-bottom: 0;
	margin-top: -1px;
	top: auto;
}
.tabs-below > .nav-tabs > li > a, .tabs-below > .nav-tabs > li > a:hover, .tabs-below > .nav-tabs > li > a:focus {
	border-color: #DDDDDD;
}
.tabs-below > .nav-tabs > li.active > a, .tabs-below > .nav-tabs > li.active > a:hover, .tabs-below > .nav-tabs > li.active > a:focus {
	border-bottom: 2px solid #DDDDDD;
	border-color: transparent #DDDDDD #DDDDDD;
	border-top-width: 1px;
	margin-top: 0;
}
.tabs-left > .nav-tabs > li > a, .tabs-right > .nav-tabs > li > a {
	min-width: 60px;
}
.tabs-left > .nav-tabs {
	border-color: #DDDDDD;
	float: left;
	margin-bottom: 0;
	top: auto;
}
.tabs-left > .nav-tabs > li {
	float: none;
}
.tabs-left > .nav-tabs > li > a, .tabs-left > .nav-tabs > li > a:focus, .tabs-left > .nav-tabs > li > a:hover {
	border-color: #DDDDDD;
	margin: 0 -1px 0 0;
}
.tabs-left > .nav-tabs > li.active > a, .tabs-left > .nav-tabs > li.active > a:focus, .tabs-left > .nav-tabs > li.active > a:hover {
	border-color: #DDDDDD transparent #DDDDDD #DDDDDD;
	border-left: 2px solid #DDDDDD;
	border-top-width: 1px;
	margin: 0 -1px;
}
.tabs-right > .nav-tabs {
	border-color: #DDDDDD;
	float: right;
	margin-bottom: 0;
	top: auto;
}
.tabs-right > .nav-tabs > li {
	float: none;
}
.tabs-right > .nav-tabs > li > a, .tabs-right > .nav-tabs > li > a:focus, .tabs-right > .nav-tabs > li > a:hover {
	border-color: #DDDDDD;
	margin: 0 -1px;
}
.tabs-right > .nav-tabs > li.active > a, .tabs-right > .nav-tabs > li.active > a:focus, .tabs-right > .nav-tabs > li.active > a:hover {
	border-color: #DDDDDD #DDDDDD #DDDDDD transparent;
	border-right: 2px solid #DDDDDD;
	border-top-width: 1px;
	margin: 0 -2px 0 -1px;
}
.nav-tabs > li > a > .badge {
	line-height: 8px;
	opacity: 0.7;
}
.nav-tabs > li > a > [class*="icon-"] {
	opacity: 0.75;
}
.nav-tabs > li.active > a > .badge, .nav-tabs > li.active > a > [class*="icon-"] {
	opacity: 1;
}
.nav-tabs li [class*=" icon-"], .nav-tabs li [class^="icon-"] {
	display: inline-block;
	text-align: center;
	width: 1.25em;
}
.nav-tabs > li.open .dropdown-toggle {
	background-color: #4F99C6;
	border-color: #4F99C6;
	color: #FFFFFF;
}
.nav-tabs > li.open .dropdown-toggle > [class*="icon-"] {
	color: #FFFFFF !important;
	opacity: 1;
}
.tabs-left .tab-content, .tabs-right .tab-content {
	overflow: auto;
}
/*teal*/
.tab-teal > li.active > a, .tab-teal > li.active > a:hover, .tab-teal > li.active > a:focus {
	border-color: #569099 #DDDDDD transparent;
	border-top: 2px solid #569099;
}
.tab-teal > li > a:hover {
	color: #569099;
}
.tab-teal > li.dropdown.open.active > a:hover, .tab-teal > li.dropdown.open.active > a:focus {
	background-color: #569099;
	border-color: #569099;
	color: #FFFFFF;
}
.tab-teal > li.open .dropdown-toggle {
	background-color: #569099;
	border-color: #569099;
	color: #FFFFFF;
}
.tab-teal .dropdown-menu > li > a:hover, .tab-teal .dropdown-menu > li > a:focus {
	background-color: #569099;
}
.tab-teal .active > a, .tab-teal .active > a:hover, .tab-teal .active > a:focus {
	background-color: #569099;
}
.tabs-left > .tab-teal > li.active > a, .tabs-left > .tab-teal > li.active > a:focus, .tabs-left > .tab-teal > li.active > a:hover {
	border-color: #DDDDDD transparent #DDDDDD #569099;
	border-left: 2px solid #569099;
}
.tabs-below > .tab-teal > li.active > a, .tabs-below > .tab-teal > li.active > a:hover, .tabs-below > .tab-teal > li.active > a:focus {
	border-bottom: 2px solid #569099;
	border-color: transparent #DDDDDD #569099;
}
.tabs-right > .tab-teal > li.active > a, .tabs-right > .tab-teal > li.active > a:focus, .tabs-right > .tab-teal > li.active > a:hover {
	border-color: #DDDDDD #569099 #DDDDDD transparent;
	border-right: 2px solid #569099;
}
.tab-padding.tab-teal > li > a, .tab-padding.tab-teal > li > a:focus, .tab-padding.tab-teal > li > a:hover {
	border-color: rgba(0, 0, 0, 0);
	color: #FFFFFF;
}
.tab-padding.tab-teal > li:not(.active) > a:hover {
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) transparent;
	opacity: 0.85;
}
.tab-padding.tab-teal > li:not(.active) > a > [class*="icon-"]:first-child {
	color: #FFFFFF !important;
}
.tab-padding.tab-teal > li:not(.active) > a > .badge {
	background-color: #FFFFFF !important;
	color: rgba(0, 0, 0, 0.4) !important;
}
.tab-padding.tab-teal > li > a, .tab-padding.tab-teal > li > a:focus {
	background-color: #7DAFB7;
}

.tab-padding.tab-teal > li.active > a, .tab-padding.tab-teal > li.active > a:focus, .tab-padding.tab-teal > li.active > a:hover {
	background-color: #FFFFFF;
	box-shadow: none;
	color: #4F80A0;
}
.tab-padding.tab-teal > li.active > a, .tab-padding.tab-teal > li.active > a:focus, .tab-padding.tab-teal > li.active > a:hover {
	border-color: #569099 #DDDDDD transparent;
	color: #4D8189;
}
.tabs-below .tab-padding.tab-teal > li.active > a {
	border-color: transparent #7DB4D8 #7DB4D8;
}
.tab-padding.tab-teal {
	border-bottom-color: #569099;
	background-color: #F3F8F8;
}
.tabs-below .nav-tabs.tab-teal {
	padding-bottom: 6px;
	border-bottom-color: #DDDDDD;
	border-top: 0 none;
}
/*bricky*/
.tab-bricky > li.active > a, .tab-bricky > li.active > a:hover, .tab-bricky > li.active > a:focus {
	border-color: #C83A2A #DDDDDD transparent !important;
	border-top: 2px solid #C83A2A !important;
}
.tab-bricky > li > a:hover {
	color: #C83A2A;
}
.tab-bricky > li.dropdown.open.active > a:hover, .tab-bricky > li.dropdown.open.active > a:focus {
	background-color: #C83A2A;
	border-color: #C83A2A;
	color: #FFFFFF;
}
.tab-bricky > li.open .dropdown-toggle {
	background-color: #C83A2A;
	border-color: #C83A2A;
	color: #FFFFFF;
}
.tab-bricky .dropdown-menu > li > a:hover, .tab-bricky .dropdown-menu > li > a:focus {
	background-color: #C83A2A;
}
.tab-bricky .active > a, .tab-bricky .active > a:hover, .tab-bricky .active > a:focus {
	background-color: #C83A2A;
}
.tabs-left > .tab-bricky > li.active > a, .tabs-left > .tab-bricky > li.active > a:focus, .tabs-left > .tab-bricky > li.active > a:hover {
	border-color: #DDDDDD transparent #DDDDDD #C83A2A;
	border-left: 2px solid #C83A2A;
}
.tabs-below > .tab-bricky > li.active > a, .tabs-below > .tab-bricky > li.active > a:hover, .tabs-below > .tab-bricky > li.active > a:focus {
	border-bottom: 2px solid #C83A2A;
	border-color: transparent #DDDDDD #C83A2A;
}
.tabs-right > .tab-bricky > li.active > a, .tabs-right > .tab-bricky > li.active > a:focus, .tabs-right > .tab-bricky > li.active > a:hover {
	border-color: #DDDDDD #C83A2A #DDDDDD transparent;
	border-right: 2px solid #C83A2A;
}
.tab-padding.tab-bricky > li > a, .tab-padding.tab-bricky > li > a:focus, .tab-padding.tab-bricky > li > a:hover {
	border-color: rgba(0, 0, 0, 0);
	color: #FFFFFF;
}
.tab-padding.tab-bricky > li:not(.active) > a:hover {
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) transparent;
	opacity: 0.85;
}
.tab-padding.tab-bricky > li:not(.active) > a > [class*="icon-"]:first-child {
	color: #FFFFFF !important;
}
.tab-padding.tab-bricky > li:not(.active) > a > .badge {
	background-color: #FFFFFF !important;
	color: rgba(0, 0, 0, 0.4) !important;
}
.tab-padding.tab-bricky > li > a, .tab-padding.tab-bricky > li > a:focus {
	background-color: #DC6456;
}

.tab-padding.tab-bricky > li.active > a, .tab-padding.tab-bricky > li.active > a:focus, .tab-padding.tab-bricky > li.active > a:hover {
	background-color: #FFFFFF;
	box-shadow: none;
	color: #333333;
}
.tab-padding.tab-bricky > li.active > a, .tab-padding.tab-bricky > li.active > a:focus, .tab-padding.tab-teal > li.active > a:hover {
	border-color: #C83A2A #DDDDDD transparent;
	color: #333333;
}
.tabs-below .tab-padding.tab-bricky > li.active > a {
	border-color: transparent #C83A2A #DDDDDD;
}
.tab-padding.tab-bricky {
	border-bottom-color: #C83A2A;
	background-color: #FBEEEC;
}
.tabs-below .nav-tabs.tab-bricky {
	padding-bottom: 6px;
	border-bottom-color: #DDDDDD;
	border-top: 0 none;
}
/*green*/
.tab-green > li.active > a, .tab-green > li.active > a:hover, .tab-green > li.active > a:focus {
	border-color: #3D9400 #DDDDDD transparent;
	border-top: 2px solid #3D9400;
}
.tab-green > li > a:hover {
	color: #3D9400;
}
.tab-green > li.dropdown.open.active > a:hover, .tab-green > li.dropdown.open.active > a:focus {
	background-color: #3D9400;
	border-color: #3D9400;
	color: #FFFFFF;
}
.tab-green > li.open .dropdown-toggle {
	background-color: #3D9400;
	border-color: #3D9400;
	color: #FFFFFF;
}
.tab-green .dropdown-menu > li > a:hover, .tab-green .dropdown-menu > li > a:focus {
	background-color: #3D9400;
}
.tab-green .active > a, .tab-green .active > a:hover, .tab-green .active > a:focus {
	background-color: #3D9400;
}
.tabs-left > .tab-green > li.active > a, .tabs-left > .tab-green > li.active > a:focus, .tabs-left > .tab-green > li.active > a:hover {
	border-color: #DDDDDD transparent #DDDDDD #3D9400;
	border-left: 2px solid #3D9400;
}
.tabs-below > .tab-green > li.active > a, .tabs-below > .tab-green > li.active > a:hover, .tabs-below > .tab-green > li.active > a:focus {
	border-bottom: 2px solid #3D9400;
	border-color: transparent #DDDDDD #3D9400;
}
.tabs-right > .tab-green > li.active > a, .tabs-right > .tab-green > li.active > a:focus, .tabs-right > .tab-green > li.active > a:hover {
	border-color: #DDDDDD #3D9400 #DDDDDD transparent;
	border-right: 2px solid #3D9400;
}
.tab-padding.tab-green > li > a, .tab-padding.tab-green > li > a:focus, .tab-padding.tab-green > li > a:hover {
	border-color: rgba(0, 0, 0, 0);
	color: #FFFFFF;
}
.tab-padding.tab-green > li:not(.active) > a:hover {
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) transparent;
	opacity: 0.85;
}
.tab-padding.tab-green > li:not(.active) > a > [class*="icon-"]:first-child {
	color: #FFFFFF !important;
}
.tab-padding.tab-green > li:not(.active) > a > .badge {
	background-color: #FFFFFF !important;
	color: rgba(0, 0, 0, 0.4) !important;
}
.tab-padding.tab-green > li > a, .tab-padding.tab-green > li > a:focus {
	background-color: #71B145;
}
/*purple*/
.tab-purple > li.active > a, .tab-purple > li.active > a:hover, .tab-purple > li.active > a:focus {
	border-color: #57517B #DDDDDD transparent;
	border-top: 2px solid #57517B;
}
.tab-purple > li > a:hover {
	color: #57517B;
}
.tab-purple > li.dropdown.open.active > a:hover, .tab-purple > li.dropdown.open.active > a:focus {
	background-color: #57517B;
	border-color: #57517B;
	color: #FFFFFF;
}
.tab-purple > li.open .dropdown-toggle {
	background-color: #57517B;
	border-color: #57517B;
	color: #FFFFFF;
}
.tab-purple .dropdown-menu > li > a:hover, .tab-purple .dropdown-menu > li > a:focus {
	background-color: #57517B;
}
.tab-purple .active > a, .tab-purple .active > a:hover, .tab-purple .active > a:focus {
	background-color: #57517B;
}
.tabs-left > .tab-purple > li.active > a, .tabs-left > .tab-purple > li.active > a:focus, .tabs-left > .tab-purple > li.active > a:hover {
	border-color: #DDDDDD transparent #DDDDDD #57517B;
	border-left: 2px solid #57517B;
}
.tabs-below > .tab-purple > li.active > a, .tabs-below > .tab-purple > li.active > a:hover, .tabs-below > .tab-purple > li.active > a:focus {
	border-bottom: 2px solid #57517B;
	border-color: transparent #DDDDDD #57517B;
}
.tabs-right > .tab-purple > li.active > a, .tabs-right > .tab-purple > li.active > a:focus, .tabs-right > .tab-purple > li.active > a:hover {
	border-color: #DDDDDD #57517B #DDDDDD transparent;
	border-right: 2px solid #57517B;
}
.tab-padding.tab-purple > li > a, .tab-padding.tab-purple > li > a:focus, .tab-padding.tab-purple > li > a:hover {
	border-color: rgba(0, 0, 0, 0);
	color: #FFFFFF;
}
.tab-padding.tab-purple > li:not(.active) > a:hover {
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) transparent;
	opacity: 0.85;
}
.tab-padding.tab-purple > li:not(.active) > a > [class*="icon-"]:first-child {
	color: #FFFFFF !important;
}
.tab-padding.tab-purple > li:not(.active) > a > .badge {
	background-color: #FFFFFF !important;
	color: rgba(0, 0, 0, 0.4) !important;
}
.tab-padding.tab-purple > li > a, .tab-padding.tab-purple > li > a:focus {
	background-color: #84809F;
}

.tab-padding.tab-purple > li.active > a, .tab-padding.tab-purple > li.active > a:focus, .tab-padding.tab-purple > li.active > a:hover {
	background-color: #FFFFFF;
	box-shadow: none;
	color: #333333;
}
.tab-padding.tab-purple > li.active > a, .tab-padding.tab-purple > li.active > a:focus, .tab-padding.tab-teal > li.active > a:hover {
	border-color: #57517B #DDDDDD transparent;
	color: #333333;
}
.tabs-below .tab-padding.tab-purple > li.active > a {
	border-color: transparent #57517B #DDDDDD;
}
.tab-padding.tab-purple {
	border-bottom-color: #57517B;
	background-color: #F5F4F9;
}
.tabs-below .nav-tabs.tab-purple {
	padding-bottom: 6px;
	border-bottom-color: #DDDDDD;
	border-top: 0 none;
}
.tab-padding.tab-green > li.active > a, .tab-padding.tab-green > li.active > a:focus, .tab-padding.tab-green > li.active > a:hover {
	background-color: #FFFFFF;
	box-shadow: none;
	color: #333333;
}
.tab-padding.tab-green > li.active > a, .tab-padding.tab-green > li.active > a:focus, .tab-padding.tab-teal > li.active > a:hover {
	border-color: #3D9400 #DDDDDD transparent;
	color: #333333;
}
.tabs-below .tab-padding.tab-green > li.active > a {
	border-color: transparent #3D9400 #DDDDDD;
}
.tab-padding.tab-green {
	border-bottom-color: #3D9400;
	background-color: #EFFBEC;
}
.tabs-below .nav-tabs.tab-green {
	padding-bottom: 6px;
	border-bottom-color: #DDDDDD;
	border-top: 0 none;
}
/*blue*/
.tab-blue > li.active > a, .tab-blue > li.active > a:hover, .tab-blue > li.active > a:focus {
	border-color: #364F6A #DDDDDD transparent;
	border-top: 2px solid #364F6A;
}
.tab-blue > li > a:hover {
	color: #364F6A;
}
.tab-blue > li.dropdown.open.active > a:hover, .tab-blue > li.dropdown.open.active > a:focus {
	background-color: #364F6A;
	border-color: #364F6A;
	color: #FFFFFF;
}
.tab-blue > li.open .dropdown-toggle {
	background-color: #364F6A;
	border-color: #364F6A;
	color: #FFFFFF;
}
.tab-blue .dropdown-menu > li > a:hover, .tab-blue .dropdown-menu > li > a:focus {
	background-color: #364F6A;
}
.tab-blue .active > a, .tab-blue .active > a:hover, .tab-blue .active > a:focus {
	background-color: #364F6A;
}
.tabs-left > .tab-blue > li.active > a, .tabs-left > .tab-blue > li.active > a:focus, .tabs-left > .tab-blue > li.active > a:hover {
	border-color: #DDDDDD transparent #DDDDDD #364F6A;
	border-left: 2px solid #364F6A;
}
.tabs-below > .tab-blue > li.active > a, .tabs-below > .tab-blue > li.active > a:hover, .tabs-below > .tab-blue > li.active > a:focus {
	border-bottom: 2px solid #364F6A;
	border-color: transparent #DDDDDD #364F6A;
}
.tabs-right > .tab-blue > li.active > a, .tabs-right > .tab-blue > li.active > a:focus, .tabs-right > .tab-blue > li.active > a:hover {
	border-color: #DDDDDD #364F6A #DDDDDD transparent;
	border-right: 2px solid #364F6A;
}
.tab-padding.tab-blue > li > a, .tab-padding.tab-blue > li > a:focus, .tab-padding.tab-blue > li > a:hover {
	border-color: rgba(0, 0, 0, 0);
	color: #FFFFFF;
}
.tab-padding.tab-blue > li:not(.active) > a:hover {
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) transparent;
	opacity: 0.85;
}
.tab-padding.tab-blue > li:not(.active) > a > [class*="icon-"]:first-child {
	color: #FFFFFF !important;
}
.tab-padding.tab-blue > li:not(.active) > a > .badge {
	background-color: #FFFFFF !important;
	color: rgba(0, 0, 0, 0.4) !important;
}
.tab-padding.tab-blue > li > a, .tab-padding.tab-blue > li > a:focus {
	background-color: #6C7F92;
}

.tab-padding.tab-blue > li.active > a, .tab-padding.tab-blue > li.active > a:focus, .tab-padding.tab-blue > li.active > a:hover {
	background-color: #FFFFFF;
	box-shadow: none;
	color: #333333;
}
.tab-padding.tab-blue > li.active > a, .tab-padding.tab-blue > li.active > a:focus, .tab-padding.tab-teal > li.active > a:hover {
	border-color: #364F6A #DDDDDD transparent;
	color: #333333;
}
.tabs-below .tab-padding.tab-blue > li.active > a {
	border-color: transparent #364F6A #DDDDDD;
}
.tab-padding.tab-blue {
	border-bottom-color: #364F6A;
	background-color: #F3F5F6;
}
.tabs-below .nav-tabs.tab-blue {
	padding-bottom: 6px;
	border-bottom-color: #DDDDDD;
	border-top: 0 none;
}

.nav > li.active > .dropdown-toggle {
	cursor: pointer !important;
}
.nav-pills .open .dropdown-toggle > [class*="icon-"], .nav > li.dropdown.open.active > a:hover > [class*="icon-"], .nav > li.dropdown.open.active > a:focus > [class*="icon-"] {
	color: #FFFFFF !important;
}
.nav-tabs > li:not(.active):not(.open) > a:not(:hover) > .disabled[class*="icon-"]:first-child {
	color: #909090 !important;
}

.nav-tabs.tab-space-1 > li > a {
	margin-right: 1px;
}
.nav-tabs.tab-space-2 > li > a {
	margin-right: 2px;
}
.nav-tabs.tab-space-3 > li > a {
	margin-right: 3px;
}
.nav-tabs.tab-space-4 > li > a {
	margin-right: 4px;
}
.nav-tabs.tab-padding {
	padding: 6px 5px 0;
	border: 1px solid #DDDDDD;
}
.panel-tabs .nav-tabs {
	float: right;
	margin-top: -52px;
	border: none;
}
.panel-tabs .nav-tabs > li > a {
	height: 36px;
	border-top: none;
	border-bottom: none;
	background: none;
	border-right: 1px solid #CDCDCD;
	box-shadow: 1px 1px 0 0 #FFFFFF;
}
.panel-tabs .nav-tabs > li > a:hover {
	background: #ffffff;
}
.panel-tabs .nav-tabs > li:first-child > a {
	box-shadow: 0 1px 0 1px #FFFFFF;
}
.panel-tabs .nav-tabs > li.active > a, .panel-tabs .nav-tabs > li.active > a:hover, .panel-tabs .nav-tabs > li.active > a:focus {
	background-color: #FFFFFF;
	background-image: none;
	border-color: #4C8FBD #DDDDDD transparent;
	border-top: none;
	box-shadow: none;
	color: #333333;
	line-height: 16px;
	margin-top: 0;
}
.panel-tabs .tab-content {
	border: none;
	padding: 0;
}
#contact {
    display: inline-block;
}
  #contact .contact {
    margin: 40px 0 40px 0; }
    #contact .contact p {
      color: #939394;
      font-size: 19px;
      margin-bottom: 47px;
      font-style: italic;
      line-height: 24px; }
    #contact .contact form {
      margin: 0; }
    #contact .contact .submit {
      margin: 0; }
      #contact .contact .submit .box {
        margin: 0; }
      #contact .contact .submit label.checkbox {
        color: #394350;
        font-style: 14px; }
      #contact .contact .submit .right {
        float: right;
          margin-top: 10px;
      }
        #contact .contact .submit .right input[type="submit"] {
          float: right;
          text-transform: uppercase;
          color: #fff;
          background: #187CCC;
          font-size: 15px;
          padding: 4px 12px;
          border: 0 none;
          border-radius: 3px;
          -webkit-transition: background linear .2s, box-shadow linear .2s;
          -moz-transition: background linear .2s, box-shadow linear .2s;
          -o-transition: background linear .2s, box-shadow linear .2s;
          transition: background linear .2s, box-shadow linear .2s; }
          #contact .contact .submit .right input[type="submit"]:hover {
            background: #252528; }
  #contact .form {
    margin: 0; }
    #contact .form .row-col {
      padding-left: 0; }
    #contact .form .box {
      margin: 0; }
      #contact .form .box input[type="text"] {
        padding-left: 39px;
        margin-bottom: 10px;
        color: black;
        height: 39px;
        border-radius: 3px; }
      #contact .form .box input[type="password"] {
        padding-left: 39px;
        margin-bottom: 10px;
        color: black;
        height: 39px;
        border-radius: 3px; }
      #contact .form .box select {
        padding-left: 39px;
        margin-bottom: 10px;
        color: black;
        height: 39px;
        border-radius: 3px; }
      #contact .form .box input.name {
        background: url("/Content/images/formname.png") white no-repeat 5px; }
      #contact .form .box input.mail {
        background: url("/Content/images/formmail.png") white no-repeat 5px; }
      #contact .form .box input.phone {
        background: url("/Content/images/formphone.png") white no-repeat 5px; }
      #contact .form .box textarea {
        padding: 11px;
        margin: 0;
        border-radius: 3px;
        height: 139px; }
  #contact .map {
    margin: 0;
    position: relative; }
    #contact .map iframe {
      display: block; }
    #contact .map .box_wrapp {
      width: 400px;
      margin: 0;
      box-shadow: 0 0 7px 0 rgba(26, 26, 26, 0.4);
      padding: 33px 0 33px;
      background: white;
      top: 30px;
      border-radius: 4px; }
      #contact .map .box_wrapp .box_cont {
        margin: 0 auto;
        width: 76%; }
      #contact .map .box_wrapp .head {
        width: 100%;
        margin-bottom: 17px;
        overflow: hidden; }
        #contact .map .box_wrapp .head h6 {
          font-size: 24px;
          margin: 0;
          font-style: italic;
          float: left;
          padding-bottom: 2px;
          border-bottom: 1px solid;
          font-weight: normal; }
      #contact .map .box_wrapp ul.street {
        list-style: none;
        margin: 0;
        padding: 0; }
        #contact .map .box_wrapp ul.street li {
          color: #777777;
          font-size: 14px; }
          #contact .map .box_wrapp ul.street li.icon {
            margin-top: 3px; }
            #contact .map .box_wrapp ul.street li.icon span.ico1 {
              float: left;
              height: 20px; }
            #contact .map .box_wrapp ul.street li.icon span.ico2 {
              float: left;
              height: 20px;
              background-position: 0px -23px; }
            #contact .map .box_wrapp ul.street li.icon .text {
              font-size: 15px;
              color: #777777;
              margin-left: 6px; }
            #contact .map .box_wrapp ul.street li.icon a:hover {
              color: #187CCC;
              -webkit-transition: all .2s;
              -moz-transition: all .2s;
              -ms-transition: all .2s;
              transition: all .2s; }
          #contact .map .box_wrapp ul.street li.icontop {
            margin-top: 13px; }
      #contact .map .box_wrapp .headbottom {
        margin-top: 42px; }
      #contact .map .box_wrapp p {
        color: #777777;
        font-size: 14px;
        margin-bottom: 32px; }
      #contact .map .box_wrapp a.btn {
        text-transform: uppercase;
        color: #fff;
        font-size: 15px;
        background: #187CCC;
        text-shadow: none;
        padding: 6px 0 6px;
        font-weight: bold;
        border: 0 none;
        box-shadow: none;
        border-radius: 3px;
        margin: 0 auto;
        display: block;
        width: 56%;
        -webkit-transition: background linear .2s, box-shadow linear .2s;
        -moz-transition: background linear .2s, box-shadow linear .2s;
        -o-transition: background linear .2s, box-shadow linear .2s;
        transition: background linear .2s, box-shadow linear .2s; }
        #contact .map .box_wrapp a.btn:hover {
          background: #252528; }

.contacticos {
  background: url("/Content/images/contact_icos.png") no-repeat;
  width: 24px;
  height: 44px; }

/* Responsive
-------------------------------------------------- */
@media (max-width: 767px) {
  #contact .contact .submit .box {
    margin: 10px 0 24px; }
  #contact .contact .submit .right {
    float: none; }
    #contact .contact .submit .right input[type="submit"] {
      margin: 0 auto;
      float: none;
      width: 53%;
      display: block;
      padding: 7px; }
  #contact .map .box_wrapp {
    width: 90%;
    position: relative;
    margin: 0 auto 80px; }
    #contact .map .box_wrapp a.btn {
      width: 65%; }
  #contact .map iframe {
    display: none; } }
@media (max-width: 480px) {
  #contact .contact .submit .right input[type="submit"] {
    width: 60%; }
  #contact .map .box_wrapp {
    width: 100%; } }

@media (min-width: 1200px) {
  .row {
    *zoom: 1; }

  .row:before,
  .row:after {
    display: table;
    line-height: 0;
    content: ""; }

  .row:after {
    clear: both; }

  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 940px; } }
/* 
  Bootstrap 3 by default keeps the navbar visible on tablets.
  From here onwards it's to get the navbar to collapse starting on 991px - tablets
*/
@media (max-width: 991px) {
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none; }
    .navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
      padding: 5px 15px 5px 25px; }
    .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-nav .open .dropdown-menu > li > a:focus {
      background-image: none; } }

@media (min-width: 992px) {
  .navbar .collapse {
    display: block !important; } }
@media (max-width: 991px) {
  .navbar .navbar-header {
    float: none; }
  .navbar .navbar-toggle {
    display: block; }
  .navbar .collapse {
    display: none !important; }
  .navbar .navbar-collapse {
    max-height: 340px;
    overflow-x: visible;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-overflow-scrolling: touch; }
    .navbar .navbar-collapse.in {
      overflow-y: auto; }
  .navbar ul.navbar-nav {
    padding: 0px 20px; }
    .navbar ul.navbar-nav.navbar-right {
      float: left !important; }
    .navbar ul.navbar-nav > li {
      float: none; }
    .navbar ul.navbar-nav .open .dropdown-menu > li > a {
      color: #999;
      line-height: 25px;
      font-weight: bold;
      padding: 5px 15px 5px 35px;
      font-size: 15px; }
      .navbar ul.navbar-nav .open .dropdown-menu > li > a:hover {
        color: #fff;
        background: none; } }