@font-face {
    font-family: 'vhe';
    src: url('/Content/font/vhe/vhe.eot');
    src: url('/Content/font/vhe/vhe.eot?#iefix') format('embedded-opentype'),
         url('/Content/font/vhe/vhe.woff') format('woff'),
         url('/Content/font/vhe/vhe.ttf') format('truetype'),
         url('/Content/font/vhe/vhe.svg#vhe') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* CSS Document */ 
html, body, div, span, h1, h2, h3, h4, h5, h6, p,a, em, img, strong, ol, ul, li 
{ margin:0px; padding:0px; border:0px; outline:0px; vertical-align:baseline; background:transparent; text-decoration:none; font-family:arial; font-size:13px;color:#333333;line-height:1.3;}
body { width:100%; background:url(/Content/images/BG-Body.jpg) repeat-x top #e9fcff;}

h1{ font-size:20px;}
h2{ font-size:16px;}
h3{ font-size:14px;}

/*________________Index________________*/
.index { width:100%; float:left; background:url(/Content/images/BG-Index.jpg) no-repeat center top; position:relative;}
.mainindex { width:940px; height:auto; margin:0 auto;}

.header { width:940px; height:auto; float:left;position: relative;}
.logo { float:left; margin: 29px 0 0 33px;}
.titcom { float:left; margin: 75px 0 0 20px;}
.menuhead { float:right; padding-left:9px; height:35px; background:url(/Content/images/menuhead-1.png) no-repeat top left;position: absolute;right: 0;}
.menuhead ul { float:left; padding-right:9px; height:35px; background:url(/Content/images/menuhead-2.png) no-repeat top right; list-style:none;}
.menuhead li { float:left; height:35px; background:url(/Content/images/menuhead.png) repeat-x;}
.menuhead span { color:#333; line-height:30px; display:block;}
.menuhead li.language { padding-right:10px;}
.menuhead li.language p { color:#333; float:left; line-height:31px; padding-left:10px;}
.menuhead li.language a { float:left; margin:7px 0 0 7px;}
.menuhead li.butdk { padding-right:10px;}
.menuhead li.butdk a { color:#333; float:left; line-height:31px; padding-left:10px;}
.menuhead li.butdk a:hover { color:white; text-decoration:underline;}
.menuhead li.cart a p { color:#333; float:left; line-height:31px;height: 31px; padding:0 10px 0 30px; background:url(/Content/images/icon-1.png) no-repeat top left; margin-left:10px;}

.menuTop { width:940px; height:87px; float:left; margin-top:25px; background:url(/Content/images/BG-Menu.jpg) no-repeat;
-moz-box-shadow:2px 2px 2px #ddd; /* Firefox */
-webkit-box-shadow:2px 2px 2px #ddd; /* Safari and Chrome */
box-shadow:2px 2px 2px #ddd; /* Opera 10.5+, future browsers and IE6+ */
behavior: url(ie-css3.htc); /* hack for IE */
}
.menuTop/*:hover*/ { height:130px;}
.menuTop ul { list-style:none;}

.menuTop > ul { width:934px; height:84px; float:left; margin:3px 0 0 3px; position:relative; z-index:1003;}

.menuTop > ul > li { height:84px; float:left; background:url(/Content/images/me-2.jpg) no-repeat top left; padding-left:2px;text-decoration: none;}
.menuTop > ul > li.home { background:none;}
.menuTop > ul > li > a { float:left; height:84px;max-width:128px;text-decoration: none;}
.menuTop > ul > li > a > img { display:block; margin:0 auto; text-align:center; height:42px;}
.menuTop > ul > li > a > span { display:block; color:white; font-weight:bold; font-size:14px; text-transform:uppercase; text-shadow:1px 1px 1px #666; padding:0 15px; margin-top:5px; text-align:center;text-decoration: none; line-height: 16px}
.menuTop > ul > li > a > span:hover { text-decoration: none }
.menuTop > ul > li:hover > a, .menuTop > ul > li.active > a { float:left; background:url(/Content/images/me-1.jpg) repeat-x;}

.menuTop > ul > li > ul { display:none; width:934px; position:absolute; top:81px; left:0; margin:10px 0;text-decoration: none; list-style-type:square; }
.menuTop > ul > li:hover > ul, .menuTop > ul > li.active > ul { display:block;text-decoration: none;}
.menuTop > ul > li > ul > li {margin-left:25px !important; width:auto; padding:7px 0px 5px 0px; float:left;text-decoration: none;}
.menuTop > ul > li > ul > li > a { color:#333; font-size:14px; text-decoration: none;}
.menuTop > ul > li > ul > li > span { float:right; padding-left:20px;text-decoration: none;}
.menuTop > ul > li > ul > li:hover > a, .menuTop > ul > li > ul > li.active > a { color:white; font-weight:bold;text-decoration: none;}

.banner { width:940px; height:370px; float:left; margin-top:10px; background:url(/Content/images/BG-Banner.png) no-repeat top; padding:0 14px; position:relative; margin-left:-15px;}
#zalen { width:924px; height:354px; float:left; padding:7px; background:white; border:1px solid #ddd;}

.viewhome { width:940px; float:left; margin-top:40px; border-top:6px #1cbf34 solid;}
.viewhomeI { width:938px; height:318px; float:left; border:1px solid #c7dfe4; border-top:none; background:url(/Content/images/icon_1.jpg) repeat-x; position:relative;
border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;

-moz-box-shadow:3px 3px 3px #ddd; /* Firefox */
-webkit-box-shadow:3px 3px 3px #ddd; /* Safari and Chrome */
box-shadow:3px 3px 3px #ddd; /* Opera 10.5+, future browsers and IE6+ */
 
behavior: url(ie-css3.htc); /* hack for IE */
}

.viewhomeII { width:298px; height:345px; position:absolute; top:-16px; left:320px; border:1px solid #c7dfe4; border-top:6px solid #ffc416; background:url(/Content/images/icon_2.jpg) repeat-x;
border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;

-moz-box-shadow:3px 3px 3px #ddd; /* Firefox */
-webkit-box-shadow:3px 3px 3px #ddd; /* Safari and Chrome */
box-shadow:3px 3px 3px #ddd; /* Opera 10.5+, future browsers and IE6+ */
 
behavior: url(ie-css3.htc); /* hack for IE */
}

.LviewI { width:280px; height:298px; float:left; padding:10px 20px; overflow:hidden; background:url(/Content/images/icon_3.png) no-repeat top center; position:relative; border-right:1px solid #C7DFE4}
.LviewI p { width:280px; font-weight:bold; color:#333; margin-top:88px; font-size:18px; font-family:tahoma;}
.LviewI span { width:280px; color:#333; display:block; line-height:18px; margin-top:10px; text-align:justify;}
.LviewI a { margin-left:20px; width:255px; height:auto; position:absolute; left:0; bottom:0; text-align:right; border-top:1px solid #ddd; color:#333; background:url(/Content/images/icon_6.png) no-repeat top right; padding:20px 25px 10px 0;}
.RviewI { width:280px; height:298px; padding:10px 20px; overflow:hidden; background:url(/Content/images/icon_4.png) no-repeat top center; position:absolute; right:0px; border-left:1px solid #C7DFE4}
.RviewI p { width:280px; font-weight:bold; color:#333; margin-top:88px; font-size:18px; font-family:tahoma;}
.RviewI span { width:280px; color:#333; display:block; line-height:18px; margin-top:10px; text-align:justify;}
.RviewI a {margin-left:20px; width:255px; height:auto; position:absolute; left:0; bottom:0; text-align:right; border-top:1px solid #ddd; color:#333; background:url(/Content/images/icon_6.png) no-repeat top right; padding:20px 25px 10px 0;}
.CviewI { width:256px; height:298px; float:right; padding:10px 20px; overflow:hidden; background:url(/Content/images/icon_5.png) no-repeat top center; position:absolute;  left:320px !important; }
.CviewI p { width:250px; font-weight:bold; color:#333; margin-top:88px; font-size:18px; font-family:tahoma;}
.CviewI span { width:250px; color:#333; display:block; line-height:18px; margin-top:10px; text-align:justify;}
.CviewI a {margin-left:20px; width:225px; height:auto; position:absolute; left:0; bottom:0; text-align:right; border-top:1px solid #ddd; color:#333; background:url(/Content/images/icon_6.png) no-repeat top right; padding:20px 25px 10px 0;}

.viewIIhome { width:939px; height:392px; margin-top:50px; float:left; border-bottom:1px solid #b4cacf; border-right:1px solid #b4cacf;
border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-left-radius:0px;
border-bottom-right-radius:5px;
background-color:#fff;
-moz-box-shadow:3px 3px 3px #ddd; /* Firefox */
-webkit-box-shadow:3px 3px 3px #ddd; /* Safari and Chrome */
box-shadow:3px 3px 3px #ddd; /* Opera 10.5+, future browsers and IE6+ */
 behavior: url(ie-css3.htc); /* hack for IE */
 
}

.onViewHover{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color:#fff ;
    border-color: #FFC416 #C7DFE4 #C7DFE4;
    border-image: none;
    border-radius: 0 0 5px 5px;
    border-style: solid;
    border-width: 6px 1px 1px;
    box-shadow: 3px 3px 3px #DDDDDD;
    height: 325px;
    position: absolute;
    top: -16px;
	margin: 0px;
	  
}


.video { width:619px; height:392px; float:left;}
.news { width:320px; height:392px; float:right;}
.news > p { width:320px; height:48px; float:left; background:url(/Content/images/icon_7.jpg) repeat-x;}
.news > p > span { font-weight:bold; color:white; display:block; line-height:48px; font-size:18px; font-family:"tahoma"; padding-left:60px; background:url(/Content/images/icon_8.png) no-repeat top left;}
.news > p > span >a { font-weight:bold; color:white; display:block; line-height:48px; font-size:18px; font-family:"tahoma";}
.news ul { list-style:none; float:left; width:300px; margin:10px 10px 0 10px; padding-bottom:10px; border-bottom:1px solid #ddd;}
.news li.pic { max-width:95px; height:auto; float:left; border:1px solid #ddd;}
.news li.pic > a > img { max-width:95px; float:left;}
.news li.tit { width:190px; height:30px; float:right; overflow:hidden;}
.news li.tit > a { font-weight:bold; text-align:justify; color:#333;}
.news li.con { width:190px; float:right; margin-top:3px; overflow:hidden;position:relative;line-height:1.4em;height:4.2em;}
.news li.con::after {
    content:"...";
    font-weight:bold;
    position:absolute;
    bottom:0;
    right:0;
    padding:0 20px 1px 45px;
    background:url(/Content/images/ellipsis_bg.png) repeat-y;
}
.news li.con > p { text-align:justify; color:#333;}
.news > a { font-weight:bold; color:#666; margin:10px 0 0 15px; float:left; width:280px; height:30px; overflow:hidden; padding-left:15px; background:url(/Content/images/icon_9.png) no-repeat top left;}
.news > a:hover { text-decoration:underline;}

.prohome { width:940px; height:auto; float:left; margin-top:40px;}
.Tprohone { width:100%; height:42px; float:left; background:url(/Content/images/icon_10.png) no-repeat;}
.Tprohone > h3 { height:38px; float:left; background:url(/Content/images/icon_11.png) no-repeat top right; margin-left:48px; padding-right:62px;margin-top: 0;}
.Tprohone > h3 > p { font-weight:bold; height:38px; display:block; line-height:43px; background:url(/Content/images/icon_12.jpg) repeat-x; font-size:18px; font-family:"tahoma"; color:white; padding:0 20px;}
.Tprohone > h3 > p > a { font-weight:bold; height:38px; display:block; line-height:43px;  font-size:18px; font-family:"tahoma"; color:white; }
.Cprohone { width:938px; height:auto; float:left; border:1px solid #ddd; padding-bottom:20px; background:url(/Content/images/icon_13.jpg) repeat-x bottom white;
border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;

-moz-box-shadow:3px 3px 3px #ddd; /* Firefox */
-webkit-box-shadow:3px 3px 3px #ddd; /* Safari and Chrome */
box-shadow:3px 3px 3px #ddd; /* Opera 10.5+, future browsers and IE6+ */
 
behavior: url(ie-css3.htc); /* hack for IE */
}

.boxPro { width:286px; height:auto; float:left; margin:20px 0  0 20px;}
.boxPro ul { list-style:none;}
.boxPro li.pic { width:284px; height:180px; float:left; border:1px solid #ddd;}
	.pic_1 { width:284px; height:180px; text-align: center; vertical-align: middle;}
	.pic_1 img { margin:0 auto; max-width:264px; max-height:160px;}
.boxPro li.tit { width:286px; height:34px; float:left; overflow:hidden; margin-top:5px;}
.boxPro li.tit > a { font-weight:bold; color:#333; text-align:center; display:block;}

.sliderproducts { width:878px; height:70px; float:left; margin:10px 30px 0 30px;}
.jcarousel-skin-tango .jcarousel-container { width:878px; height:auto; float:left;}
.jcarousel-skin-tango .jcarousel-container-horizontal { width:878px;}
.jcarousel-skin-tango .jcarousel-clip { overflow: hidden;}
.jcarousel-skin-tango .jcarousel-clip-horizontal { width:878px; height:70px;}
.jcarousel-skin-tango .jcarousel-item { height:60px;}
.jcarousel-next-horizontal 
{ position: absolute; bottom:50%; margin-bottom:-30px; right:-44px; width:44px; height:52px; cursor: pointer; background:url(/Content/images/next-horizontal.png) no-repeat;}
.jcarousel-prev-horizontal 
{ position: absolute; bottom:50%; margin-bottom:-30px; left:-44px; width:44px; height:52px; cursor: pointer; background:url(/Content/images/prev-horizontal.png) no-repeat;}
ul#mycarousel, ul#mycarousel li ul { list-style:none; float:left;}
ul#mycarousel li { width:175px; height:70px; float:left; display:block;}
	.pic_2 { width:175px; height:70px; text-align: center; vertical-align: middle;}
	.pic_2 img { margin:0 auto; max-width:175px; max-height:70px;}
	
.QMbottom { width:100%; height:auto; float:left; background:url(/Content/images/icon_14.png) repeat-x top #414b52; margin-top:20px;}
.QM_bottom { width:940px; height:auto; margin:0 auto;}

.boxTT { width:200px; height:auto; float:left; margin:10px 35px 0 0;}
.boxTT > ul { list-style:none;}
.boxTT > ul > li.tit { width:200px; height:30px; float:left; border-bottom:1px solid #545d64;}
.boxTT > ul > li.tit > p { color:#b5bbbf; font-weight:bold; line-height:30px; font-size:14px;}
.boxTT > ul > li { width:200px; height:auto; float:left; margin-top:5px;}
.boxTT > ul > li > a { color:white; margin-top:8px; margin-right:5px; display:block; float:left;}
.boxTT > ul > li > a:hover { text-decoration:underline;}

.boxTTT { width:200px; height:auto; float:left;}

.boxTT0 { width:200px; height:auto; float:left; margin:15px 0 0 35px;}
.boxTT0 > p { width:200px; height:30px; float:left; border-bottom:1px solid #545d64; color:#b5bbbf; font-weight:bold; line-height:30px; font-size:16px; color:white;}
.boxTT0 ul { list-style:none; float:left; margin-top:5px;}
.boxTT0 > ul > li { width:200px; height:auto; float:left; margin-top:5px; padding:5px 0 5px 30px;}
.boxTT0 a { color:white; font-size:13px;}
.boxTT0 li.ht-1 { background:url(/Content/images/icon_22.png) no-repeat top left;}
.boxTT0 li.ht-2 { background:url(/Content/images/icon_23.png) no-repeat top left;}
.boxTT0 li.ht-3 { background:url(/Content/images/icon_24.png) no-repeat top left;}

.boxTT > ul > li > span { color:white; float:left; font-weight:bold; line-height:24px;} 
.boxTT > ul > li > p { color:white; float:left; font-weight:bold; font-size:16px; font-family:tahoma; margin-left:10px;} 

.Icopy { width:100%; float:left; background:#2d3439; margin-top:20px;}
.copy { margin:0 auto; width:940px;}
.copy ul { list-style:none;}
.copy li { float:left;}
.copy li span { color:#ccc; padding:15px 0 10px 10px; display:block;}
.copy li p { color:white; font-weight:bold; padding:0 0 0 10px; display:block;}

/*-Sub-*/

.leftContent { width:700px; float:left; margin-top:20px; background:url(/Content/images/BG-Content.png) no-repeat; padding:0 15px; position:relative; margin-left:-15px;}
.boxLeft { width:698px; float:left; border:1px solid #ddd; background:white;}
.boxLeft img { max-width:658px;}

/*sanpham*/
/*___chitietsanpham___*/

.chitietsanpham { width:698px; float:left; position:relative;}
.chitietsanpham > p { width:658px; height:40px; float:left; border-bottom:1px solid #ddd; font-size:16px; font-weight:bold; color:#333; line-height:40px; margin:10px 0 0 10px; padding-left:20px; background:url(/Content/images/icon_25.png) no-repeat top left;}
.chitietsanpham > h1 { width:658px; height:40px; float:left; border-bottom:1px solid #ddd;  color:#333; line-height:40px; margin:10px 0 10px 10px; padding-left:20px; background:url(/Content/images/icon_25.png) no-repeat top left;}
.hinhsanpham { width:302px; height:auto; float:left; margin:10px;}

#lofslidecontent45 { width:302px; height:auto; float:left;}
.lof-main-outer { width:302px; height:auto; float:left;}

.lof-opacity > li { position:absolute; float:inherit;}
ul.lof-main-wapper { list-style:none;}
ul.lof-main-wapper > li {  width:300px; height:240px; float:left; padding:0; border:1px solid #ddd;}
ul.lof-main-wapper > li > img { float:right; max-width:300px; max-height:240px; position:absolute; top:0; left:0;}

	.pic_3 { width:300px; height:240px; text-align: center; vertical-align: middle;}
	.pic_3 img { margin:0 auto; max-width:300px; max-height:240px;}

.lof-navigator-wapper { width:300px; height:85px; position:relative; float:left; margin-top:253px; border:1px solid #ddd;}

.lof-navigator-outer { position:relative; height:85px; width:380px; overflow:hidden; float:left; margin-left:7px;}
ul.lof-navigator { position:absolute; width:380px; height:85px; float:left;}
ul.lof-navigator li { cursor:hand; cursor:pointer; overflow:hidden; float:left; display:block;	text-align:center; margin-top:6px; width:91px; height:73px;}
/*ul.lof-navigator li img { border:#ddd solid 1px; background:#ccc; max-width:89px; max-height:103px;}*/

	.pic_4 { width:91px; height:73px; text-align: center; vertical-align: middle;}
	.pic_4 img { margin:0 auto; max-width:91px; max-height:73px;}

ul.lof-navigator li.active img, ul.lof-navigator li:hover img {	border:#1580b9 solid 1px;}
.lof-next { width:8px; height:8px; float:left; background:url(/Content/images/next.png) no-repeat; position:absolute; top:40px; right:0; cursor:pointer;}
.lof-next a { float:left; margin-left:20px; margin-top:3px; font-size:12px; color:#333; font-style:inherit;}
.lof-previous { width:8px; height:8px; float:left; background:url(/Content/images/prev.png) no-repeat;  position:absolute; top:40px; left:0; cursor:pointer;}
.lof-previous a { float:left; margin-left:15px; margin-top:3px; font-size:12px; color:#333; font-style:inherit;}
.lof-main-outer .lof-next,  .lof-main-outer .lof-previous { display:block; width:40px; color:#FFF; cursor:pointer; position:absolute; height:100%; z-index:3; top:0; text-indent:-999px;}

.cloud-zoom-big {
border:1px solid #ddd;
overflow:hidden;
background:red;
margin-left:10px;
margin-top:-1px;
}
.cloud-zoom-lens { border:1px solid #ddd; margin:-4px; background-color:#fff; cursor:move;}

.thongtinsp { width:330px; min-height:340px; float:right; margin:10px 10px 0 0;}
div.quycach {display:block !important;width:165px;float:left;}
.thongtinsp ul { list-style:none;}
.thongtinsp li { width:330px;}
.thongtinsp li.Pr1 { height:auto; float:left; border-bottom:1px dotted #ddd; margin-bottom:10px;}
.thongtinsp li.Pr1 span { color:#666; font-size:12px; display:block; padding-bottom:10px;}
.thongtinsp li.Pr1 p { font-weight:bold; color:#333; float:left; padding-right:10px; width:150px;}
.thongtinsp li.Pr1 span.G-1 { color:#F60; font-size:16px; font-family:"tahoma"; font-weight:bold;}
.thongtinsp li.Pr1 span.G-1 p { display:block; line-height:23px;}
.thongtinsp li.Pr1 span.G-2 { color:#F60; text-decoration:line-through;}

.thongtinsp li.Pr2 { height:auto; float:left; margin-bottom:10px;}
.thongtinsp li.Pr2 span { color:#666; font-size:12px; display:block; padding-bottom:10px;}
.thongtinsp li.Pr2 p { font-weight:bold; color:#333; float:left; padding-right:10px; width:150px;}

input.slu { width:30px; height:6px; float:left; padding:5px 10px; margin-right:10px; border:1px solid #ddd;}

.thongtinsp li.Pr3 { float:left; margin:10px 0 0 160px;}

.thongtincanbiet { width:768px; height:auto; float:left; margin:10px;}
.container {width:768px;}
ul.tabs { width:768px; height:30px; float:left; list-style: none; background:none;}

ul.tabs li { float:left; height:30px; padding-left:10px; margin-right:2px; background:url(/Content/images/na-1.png) no-repeat top left;}
ul.tabs li a { float:left; display:block; padding-right:10px; background:url(/Content/images/na-2.png) no-repeat top right;}
ul.tabs li a span { float:left; display:block; color:#333; line-height:32px; background:url(/Content/images/na-3.png) repeat-x; padding:0 10px;}

ul.tabs li:hover, ul.tabs li.active { background:url(/Content/images/xa-1.png) no-repeat top left;}
ul.tabs li:hover a, ul.tabs li.active a { background:url(/Content/images/xa-2.png) no-repeat top right;}
ul.tabs li:hover a span, ul.tabs li.active a span { background:url(/Content/images/xa-3.png) repeat-x; color:white;}

.tab_container { width:678px; border-top:none; clear:both; float:left; background:#fff;}
.tab_content { font-size:1.2em;}
.tab_content table {
	margin:10px;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}

.tab_content table td {
	border-width: 1px;
	padding: 4px;
	border-style: solid;
	border-color: #999999;
	background-color: #ffffff;
}

.xanh { width:676px; float:left; border:1px solid #ddd; border-top:1px solid #7b7b7b;}
.xanh ul li {list-style: inside;}
.content_wapper {margin:10px 20px;padding-top: 50px;}
.content_wapper ul li {list-style: inside;}
.mota { width:660px; float:left; padding:10px;}
.thuoctinh { width:660px; height:auto; float:left; padding:10px;}
.danhgia { width:660px; height:auto; float:left; padding:10px;}
.product-video-tab { width:660px; height:auto; float:left; padding:10px;}

.rightContent { width:222px; float:right;}

.boxRight { width:222px; float:left; margin-top:20px; border-top:3px #1cbf34 solid;}
.boxRightF { width:222px; float:left; margin-top:20px; border:1px #1cbf34 solid;border-top:3px #1cbf34 solid; background-color:White;  }
.boxRightI { width:220px; float:left; border:1px solid #c7dfe4; border-top:none; background:url(/Content/images/icon_27.png) repeat-x bottom white; position:relative; padding-bottom:10px;
border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;

-moz-box-shadow:3px 3px 3px #ddd; /* Firefox */
-webkit-box-shadow:3px 3px 3px #ddd; /* Safari and Chrome */
box-shadow:3px 3px 3px #ddd; /* Opera 10.5+, future browsers and IE6+ */
 
behavior: url(ie-css3.htc); /* hack for IE */
}

.boxRightI > p { width:190px; height:40px; float:left; margin:10px 0 0 15px; font-weight:bold; color:#F30; font-size:14px; text-transform:uppercase; font-family:"tahoma"; border-bottom:1px solid #ddd; line-height:40px;}
.boxRightI ul { list-style:none;}
.boxRightI li { width:190px; float:left;}
.picleft { width:71px; height:71px; border:1px solid #ddd; float:left; padding:5px; margin:10px 0 0 15px; margin-right:5px;}
	.pic_5 { width:71px; height:53px; text-align: center; vertical-align: middle;}
	.pic_5 img { margin:0 auto; max-width:71px; max-height:53px;}
/*.boxRightI img { max-width:70px; max-height:70px; height:auto; float:left;}*/
.boxRightI p { margin-top:10px; display:block; float:left;}
.boxRightI > ul > li > p { width:86px;margin-top:0px !important;}
.boxRightI > ul > li > span {width:86px; float:left;margin-top:10px !important;}
.boxRightI span { color:#F60; font-size:14px; font-family:tahoma; margin-top:3px; display:block;}
.boxRightI span.old { color:#666; margin-top:3px; display:block; text-decoration:line-through; font-size:12px; float:left; width:71px;}

.htkhachhang { width:190px; height:auto; float:left; margin:5px 0 0 15px;}
.htkhachhang ul { list-style:none;}
.htkhachhang li { width:175px; float:left; padding-left:15px; background:url(/Content/images/icon_26.png) no-repeat top left; margin-top:5px;}
.htkhachhang a { color:#333;}

.thanhtoan { width:190px; height:auto; float:left; margin:5px 0 0 15px;}
.thanhtoan ul { list-style:none;}
.thanhtoan li { width:80px; height:auto; float:left; border:1px solid #ddd; margin:6px;}

.facebook { width:190px; height:auto; float:left; margin:10px 0 0 15px; padding-bottom:20px;}

.tukhoa { width:676px; height:auto; float:left; padding:10px; line-height:18px;}
.tukhoa span { font-weight:bold; float:left; padding-right:5px;}
.tukhoa a { color:#015591; float:left; margin-right:3px; text-decoration: underline;}

.AboxLeft { width:698px; float:left; position:relative;}
.AboxLeft > p { width:658px; height:40px; float:left; border-bottom:1px solid #ddd; font-size:16px; font-weight:bold; color:#333; line-height:40px; margin:10px 0 0 10px; padding-left:20px; background:url(/Content/images/icon_25.png) no-repeat top left;}
.AboxLeft > h1 { width:658px; height:40px; float:left; border-bottom:1px solid #ddd;  color:#333; line-height:40px; margin:10px 0 0 10px; padding-left:20px; background:url(/Content/images/icon_25.png) no-repeat top left;}
.AboxLeft > a { position:absolute; top:26px; right:10px; background:url(/Content/images/icon_28.jpg) no-repeat top right; padding:2px 29px 5px 0; color:#333;}

.AABoxLeft { width:638px; height:auto; float:left; margin:20px 0 0 30px; padding-bottom:20px;}
.AABoxLeft ul { list-style:none;}
.AABoxLeft ul.list { float:left; margin-top:10px;}
.AABoxLeft ul.list li { width:620px; float:left; padding:0 0 0 18px; background:url(/Content/images/icon_26.png) no-repeat top left; margin-top:10px;}
.AABoxLeft ul.list a { color:#333;}

.boxTin { width:638px; height:auto; float:left;}
.boxTin li.pic { max-width:150px; border:1px solid #ddd; margin-right:10px; float:left;}
.boxTin li.pic img { width:150px; float:left;}
.boxTin li.tit a { font-weight:bold; color:#333;}
.boxTin li p { color:#666; margin-top:3px;}

.boxVideo { width:145px; height:auto; float:left; margin:0 7px;}
.boxVideo p { color:#333; margin-top:5px;}

 #push {
	height: 43px; /* .push must be the same height as .footer */
    padding-top:10px;
}
#wrapper{
    width:979px;
    min-height: 96%;
	height: auto !important;
	height: 96%;
	text-align:left;
    margin: 0 auto -30px;
    padding:0 10px 0px 10px;
}

.clearfix{
	clear:both;
	float:none;
}
#bigPic{
	width:285px;
	height:200px;
	padding:1px;
	border:1px solid #CCC;
	background-color:#FFF;
	margin-bottom:10px;
    overflow: hidden;
}
#bigPic img{
	display:none;
    height: 200px;
    margin: auto auto;
}
ul#thumbs li.active{
	border:2px solid #000;	
	background:#fff;
	padding:2px;
}
ul#thumbs, ul#thumbs li{
	margin:0;
	padding:0;
	list-style:none;
}
	
ul#thumbs li{
	float:left;
	margin-right:5px;
	margin-bottom:5px;
	border:1px solid #CCC;	
	padding:3px;
	cursor:pointer;
}
ul#thumbs img{
	float:left;
	width:85px;
	height:85px;
	line-height:85px;
	overflow:hidden;
	position:relative;
	z-index:1;		
}

.callbacks_container {
  margin-bottom: 50px;
  position: relative;
  float: left;
  width: 100%;
  }

.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  }

.callbacks iframe {
  display: block;
  position: relative;
  z-index: 1;
  height: 392px;
  width: 100%;
  border: 0;
  }

.callbacks .caption {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 20px;
  text-shadow: none;
  color: #fff;
  background: #000;
  background: rgba(0,0,0, .8);
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  margin: 0;
  max-width: none;
  }

.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 52%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("/Content/images/themes.gif") no-repeat left top;
  margin-top: -45px;
  }

.callbacks_nav:active {
  opacity: 1.0;
  }

.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }
.slider-wrapper { 
	width: 330px; 
	margin: 10px;
    display: inline-block;
}
#carousel li {margin-right: 5px;}
#carousel img {display: block; opacity: .5; cursor: pointer;}
#carousel img:hover {opacity: 1;}
#carousel .flex-active-slide img {opacity: 1; cursor: default;}
.banner #zalen .nivo-controlNav{ right:30px !important}

/* ---------------------------------------------------------------------- */
/*	Login
 /* ---------------------------------------------------------------------- */

 .main-login {
	margin-top: 60px;
}
 .logo {
	padding: 20px;
	text-align: center;
}
 .box-login,  .box-forgot,  .box-register {
	background: #FFFFFF;
	border-radius: 5px;
	box-shadow: -30px 30px 50px rgba(0, 0, 0, 0.32);
	overflow: hidden;
	padding: 15px;
}
 .box-forgot,  .box-register {
	display: none;
}
 .form fieldset {
	border: none;
	margin: 0;
	padding: 10px 0 0;
}
 a.forgot {
	color: #909090;
	font-size: 12px;
	position: absolute;
	right: 10px;
	text-shadow: 1px 1px 1px #FFFFFF;
	top: 9px;
}
 input.password {
	padding-right: 130px;
}
 label {
	color: #7F7F7F;
	font-size: 14px;
	margin-top: 5px;
}

 .copyright {
	font-size: 11px;
	margin: 0 auto;
	padding: 10px 10px 0;
	text-align: center;
}
 .form-actions:before,  .form-actions:after {
	content: "";
	display: table;
	line-height: 0;
}
 .form-actions:after {
	clear: both;
}
 .form-actions {
	margin-top: 15px;
	padding-top: 10px;
	display: block;
}
 .new-account {
	border-top: 1px dotted #EEEEEE;
	margin-top: 15px;
	padding-top: 10px;
	display: block;
}
 
.GridCnt { clear:left; padding:10px; }
.GridCntSabreCommand { clear:left; padding:10px; height:350px; overflow:auto;}
.GridCntHeightAuto { clear:left; padding:10px; height:auto;}
.GridHeader { padding-top:10px; height:25px; text-shadow:1px 1px rgba(255,255,255,.7);}

.TblGrid { clear:left; width:100%; border-collapse:collapse; border:solid 1px #1cbf34; overflow:auto;}
.TblGrid tr th { background-color:#1cbf34; border-bottom:solid 1px #1cbf34; padding:4px; color:#fff; font-weight:bold;
}
.TblGrid tr:hover { background:#f3f3dd !important;}
.TblGrid tr td { /*background-color:#f3f8fd;*/ border:dotted 1px #7699b6; padding:2px; border-right:dotted 1px #a3bdd3;}
#zalen,#zalen:before, #zalen:after, .viewhomeTab,.viewhomeTab:before, .viewhomeTab:after,  .viewhomeI, .viewhomeI:before, .viewhomeI:after,.viewIIhome, .viewIIhome:before, .viewIIhome:after {
    -moz-box-sizing: content-box !important;
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important;
}
.bfh-number{width:80px; display:inline;}

.table_hasborder table
{
border-collapse:collapse;
width:96%;
margin:10px;
}
.table_hasborder table, .table_hasborder th, .table_hasborder td
{
border: 1px solid #999;
}
.table_hasborder th, .table_hasborder td
{
    padding:3px 5px;
    }

#three_step_checkout{float:left}
#three_step_checkout .header{margin:13px 0 15px;height:57px}#three_step_checkout .progress{margin-top:15px;color:#999;font-size:15px}#three_step_checkout .on_progress{color:#ffb319;border-top-color:#ffb319}#three_step_checkout .current{font-weight:bold}#three_step_checkout .orange_line{border:1px solid #ffb319;position:relative;top:1px}#three_step_checkout .gray_line{border-top:1px solid #7f7f7f;position:relative;top:3px;width:664px}#three_step_checkout .progress_line_container{height:9px;position:relative;margin-top:13px;width:666px}#three_step_checkout .progress_icon{position:absolute;top:18px;background:url("/images/spinbasket/sprites_images/general_sprite/icn_general_1.png") no-repeat 0 -953px;width:27px;height:25px}#three_step_checkout .step_1{width:250px;float:left;margin-left:5px}#three_step_checkout .step_2{width:205px;float:left}#three_step_checkout .step_3{width:208px;float:left}#three_step_checkout .step_1_line{display:inline;float:left;width:40px}#three_step_checkout .step_2_line{display:inline;float:left;width:315px}
#three_step_checkout .step_3_line{display:inline;float:left;width:581px}#three_step_checkout .step_1_icon{left:40px}#three_step_checkout .step_2_icon{left:310px}#three_step_checkout .step_3_icon{left:574px}#three_step_checkout .checkout_footer{font-size:9px}#three_step_checkout .footer_nav ul{float:right}#three_step_checkout .footer_nav li{color:#224368;float:left;height:10px;padding:0 5px 0 5px;border-right:1px solid #939393;position:relative;top:3px}#three_step_checkout .footer_nav li a{position:relative;top:-3px}#three_step_checkout .submit_btn{text-align:left;cursor:pointer;margin:0;display:block;width:272px;height:38px;border:0;border-radius:4px;background:#e2760f;background:-moz-linear-gradient(top,#e2760f 0,#e56315 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#e2760f),color-stop(100%,#e56315));background:-webkit-linear-gradient(top,#e2760f 0,#e56315 100%);background:-o-linear-gradient(top,#e2760f 0,#e56315 100%);background:-ms-linear-gradient(top,#e2760f 0,#e56315 100%);background:linear-gradient(to bottom,#e2760f 0,#e56315 100%);filter:progid:DXImageTransform#three_step_checkout .Microsoft#three_step_checkout .gradient(startColorstr='#e2760f',endColorstr='#e56315',GradientType=0)}
#three_step_checkout .bluebutton.submit_btn{cursor:pointer;margin-top:10px;width:350px;height:38px;border:0;border-radius:4px;background:#039;background:-moz-linear-gradient(top,#039 0,#069 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#039),color-stop(100%,#069));background:-webkit-linear-gradient(top,#039 0,#069 100%);background:-o-linear-gradient(top,#039 0,#069 100%);background:-ms-linear-gradient(top,#039 0,#069 100%);background:linear-gradient(to bottom,#039 0,#069 100%);filter:progid:DXImageTransform#three_step_checkout .Microsoft#three_step_checkout .gradient(startColorstr='#003399',endColorstr='#006699',GradientType=0)}#three_step_checkout .bluebutton.submit_btn:hover{background:#039}#three_step_checkout .submit_btn:hover{background:#f88e11;background:-moz-linear-gradient(top,#f88e11 0,#f06015 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f88e11),color-stop(100%,#e56315));background:-webkit-linear-gradient(top,#f88e11 0,#e56315 100%);background:-o-linear-gradient(top,#f88e11 0,#f06015 100%);background:-ms-linear-gradient(top,#f88e11 0,#f06015 100%);background:linear-gradient(to bottom,#f88e11 0,#f06015 100%);filter:progid:DXImageTransform#three_step_checkout .Microsoft#three_step_checkout .gradient(startColorstr='#F88E11',endColorstr='#F06015',GradientType=0)}
#three_step_checkout .submit_btn_text{display:inline-block;font-size:16px;color:#fff;cursor:pointer;vertical-align:middle;font-weight:bold;width:220px;text-align:center}#three_step_checkout .btn_short .submit_btn_text{width:160px}#three_step_checkout .submit_btn_icon{background:url("/images/spinbasket/sprites_images/general_sprite/icn_general_1.png") no-repeat 0 -1646px;height:21px;width:21px;cursor:pointer;display:inline-block;vertical-align:middle}@-moz-document url-prefix(){#three_step_checkout .submit_btn_text{margin-top:-5px!important}#three_step_checkout .submit_btn_icon{margin-top:-4px}}.secure_icon{background:url("/images/spinbasket/sprites_images/general_sprite/icn_general_1.png") no-repeat 0 -1169px;width:18px;height:21px;float:left}#three_step_checkout .horizontal_divider{height:3px;width:372px;background-color:#eee;margin-left:40px}#three_step_checkout .w85_divider{height:2px;width:85%;background-color:#eee}#three_step_checkout .description_2{float:right;position:relative;top:-5px;right:10px;color:#999}#three_step_checkout .description{color:#909090;font-size:11px;font-style:italic;position:relative;top:1px;line-height:100%}
#three_step_checkout .no_margin{margin:0}#three_step_checkout .bold_style{font-weight:bold}#three_step_checkout .right_align{text-align:right}#three_step_checkout .left_align{text-align:left}#three_step_checkout .center{text-align:center}#three_step_checkout .last_item{border:none!important;padding-right:none!important}#three_step_checkout .first_item{height:35px!important}#three_step_checkout .space_45{height:45px}#three_step_checkout .space_35{height:52px!important}#three_step_checkout .space_30{height:30px!important}#three_step_checkout .space_25{height:25px!important}#three_step_checkout .space_20{height:20px!important}#three_step_checkout .space_15{height:15px!important}#three_step_checkout .space_10{height:10px!important}#three_step_checkout .space_5{height:5px!important}#three_step_checkout strong{font-weight:bold}#three_step_checkout *:focus{outline:0}#three_step_checkout .line_2_icon{position:absolute;top:-5px!important;left:15px;width:190px}#three_step_checkout .line_3_icon{position:absolute;top:-15px!important;left:15px;width:190px}
#three_step_checkout .line_2{position:absolute;top:-5px!important}#three_step_checkout .short_text{margin:0 70px 0 70px}#three_step_checkout .normal_text{margin:0 40px 0 40px}#three_step_checkout .xlong_text{margin:0 30px 0 30px}#three_step_checkout .btn_short{width:220px!important;position:relative;left:100px;top:0}#three_step_checkout .btn_short .short_text{margin:0 40px 0 40px!important}#three_step_checkout .btn_short .normal_text{margin:0 10px 0 10px!important}#three_step_checkout .hidden{display:none}#three_step_checkout .display{display:block}#three_step_checkout .display_inline{display:inline-block}#three_step_checkout .error{color:#c60}#three_step_checkout select,#three_step_checkout textarea{font-size:13px!important}#three_step_checkout .blue_text{color:#124e8e}#three_step_checkout input[type="password"]::-webkit-input-placeholder{color:#bbb}#three_step_checkout input[type="password"]::-moz-placeholder{color:#bbb}#three_step_checkout input[type="password"]:-ms-input-placeholder{color:#bbb}
#three_step_checkout input[type="password"]:-moz-placeholder{color:#bbb}#three_step_checkout input[type="text"]::-webkit-input-placeholder{color:#bbb}#three_step_checkout input[type="text"]::-moz-placeholder{color:#bbb}#three_step_checkout input[type="text"]:-ms-input-placeholder{color:#bbb}#three_step_checkout input[type="text"]:-moz-placeholder{color:#bbb}#three_step_checkout select,#three_step_checkout textarea{padding:3px}#three_step_checkout .width_10{width:10%}#three_step_checkout .width_15{width:15%}#three_step_checkout .width_20{width:15%}#three_step_checkout .width_40{line-height:135%;width:45%}#three_step_checkout .width_100{width:100%}.nyroModalCont #three_step_checkout{width:740px}#three_step_checkout .new_cart{margin-top:10px}#three_step_checkout .new_ajax_cart{width:100%;padding:10px}#three_step_checkout .lastcolumn{padding-right:12px}
#three_step_checkout #tableheader{margin-top:5px}#three_step_checkout #tableheader tr{font-size:12px;font-weight:bold;border-bottom:3px solid #e9e9e9;color:#333;line-height:200%}#three_step_checkout .scrollable{max-height:250px;overflow:auto;overflow-x:hidden;border-left:1px solid #e9e9e9;border-right:1px solid #e9e9e9}#three_step_checkout .producttable{margin-top:5px}#three_step_checkout .producttable tr{border-bottom:1px solid #e9e9e9}#three_step_checkout .producttable td{vertical-align:top}#three_step_checkout .productdescription{font-size:14px;font-weight:bold}#three_step_checkout .productdetails{font-size:12px;color:#666}#three_step_checkout .stock{color:#6c6;font-size:12px}#three_step_checkout .productlink a{font-size:12px;color:#039;padding-left:18px;cursor:pointer}#three_step_checkout .closelink{padding-left:0!important;font-size:12px;color:#039;float:left;margin-top:12px}#three_step_checkout .price{color:#666;font-size:12px}#three_step_checkout #subtotal{line-height:120%;font-size:16px;font-weight:bold;position:relative;padding-top:5px;border-top:3px solid #e6e6e6}
#three_step_checkout .sub{font-size:14px;font-weight:normal;height:22px}#three_step_checkout .sub td.width_15,#three_step_checkout .sub td.width_30{border-bottom:1px solid #CCC}#three_step_checkout .width_60{width:60%}#three_step_checkout .total td{padding-top:4px}#three_step_checkout .cartintro{font-size:14px;font-weight:bold;margin-bottom:10px;margin-top:10px}#three_step_checkout .proceedtocheckout{float:right}#three_step_checkout .minimumordervaluemessage{color:#c60;font-size:14px;margin-bottom:5px;text-align:right}#three_step_checkout .minimumordervalue{margin-top:20px;margin-right:20px;padding-bottom:10px;float:right}#three_step_checkout .sel-continue-shop{padding-left:0!important}#three_step_checkout .deliveryfee{font-size:12px;color:#e2760f}#three_step_checkout .cart_submit_text{display:inline-block;font-size:16px;color:#fff;cursor:pointer;vertical-align:middle;font-weight:bold;width:230px;text-align:center;margin-top:8px}#three_step_checkout .cart_submit_icon{background:url("/images/spinbasket/sprites_images/general_sprite/icn_general_1.png") 0 -1646px no-repeat;height:21px;width:21px;cursor:pointer;display:inline-block;vertical-align:middle;margin-top:8px}
#three_step_checkout .bluebutton .cart_submit_text{width:350px;margin-top:10px}#three_step_checkout .vatinclude{font-size:13px;color:#555;font-weight:normal;line-height:18px}#three_step_checkout .installment{color:#e2760f;display:block}.nyroModalCont{border-radius:5px 5px 5px 5px}.nyroModalCloseButton{background-repeat:no-repeat}#three_step_checkout .s-success{color:#17ac22!important;font-weight:bold;font-size:14px!important;line-height:120%!important}#three_step_checkout .s-success .msgBox,#three_step_checkout .s-success.msgBox{background:0;border:none!important}#three_step_checkout .pas{padding-left:0!important}#three_step_checkout .fullMessenger{margin-bottom:10px!important;display:inline-block;width:700px}#three_step_checkout .bdo{vertical-align:top!important;padding-right:30px}#three_step_checkout .bdo_inform{color:#999;margin-top:0}#three_step_checkout .bdo_icon{background:url("/images/spinbasket/sprites_images/general_sprite/icn_general_1.png") 0 -446px no-repeat;display:inline-block;position:relative;height:15px;width:15px;top:3px}
#three_step_checkout .cart_row{height:30px}#three_step_checkout .cart_btn_row{height:30px;margin-top:10px}#three_step_checkout .success_icon{background:url("/images/spinbasket/sprites_images/general_sprite/icn_general_1.png") 0 -1669px no-repeat;width:20px;height:20px;display:inline-block;vertical-align:text-bottom}#three_step_checkout .s-notice{margin:0 0 0 10px;padding:5px 5px 5px 10px!important;color:#ffb319;background-color:#fff6bf;font-weight:bold;-webkit-border-radius:5px;border-radius:5px}#three_step_checkout .s-error{margin:0 0 0 10px;padding:5px 5px 5px 10px!important;font-weight:bold;-webkit-border-radius:5px;border-radius:5px}div#quickview-window{background-color:#fff;border:1px solid #676767;box-shadow:0 0 15px #676767;display:none;max-height:600px;min-height:347px;padding:35px 35px 15px!important;position:absolute;top:0;left:0;width:800px;z-index:9999;color:#2b2b2b;font-family:Arial,Helvetica,sans-serif;font-size:12px;font-weight:normal;line-height:1.65em;list-style:none outside none}#info-zoom-expanded-close{background-position:0 0;cursor:pointer;height:25px;position:absolute;right:5px;top:5px;width:15px}
.cart-product-oldprice-value {
    text-decoration: line-through;
    font-size: 10px;
}