@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<div id="vertical">
    <div id="top-pane">
        <div id="horizontal" style="height: 100%; width: 100%;">
            <div id="center-pane">
                <div class="pane-content">
                    <div class="box-content">
                        <div id="grid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var grid = $("#grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: '@Url.Action("GetMediaLogs", "MediaLog")',
                        type: "post",
                        dataType: "json"
                    },
                    update: {
                        url: '@Url.Action("CreateOrUpdateMediaLog", "MediaLog")',
                        type: "post",
                        dataType: "json"
                    },
                    destroy: {
                        url: '@Url.Action("DeleteMediaLogs", "MediaLog")',
                        type: "post",
                        dataType: "json"
                    },
                    create: {
                        url: '@Url.Action("CreateOrUpdateMediaLog", "MediaLog")',
                        type: "post",
                        dataType: "json"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options.models) {
                            return { models: kendo.stringify(options.models) };
                        }
                    }
                },
                batch: true,
                pageSize: 20,
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Id: { editable: false, nullable: true },
                            Email: { validation: { required: true } },
                            Media: { nullable: true },
                            CreatedDate: { type: "date" }
                        }
                    }
                }
            },
            height: 710,
            filterable: true,
            sortable: true,
            pageable: true,
            navigatable: true,
            //editable: true,
            //toolbar: ["save", "cancel"],
            columns: [{
                field: "Id",
                hidden: true
            }, {
                field: "Media.Id",
                title: "Id tài liệu",
                width: 80
            }, {
                field: "Media.Description",
                title: "Tên tài liệu"
            }, {
                field: "Media.MediaUrl",
                title: "Link"
            }, {
                field: "Email",
                title: "Người tải"
            }, {
                field: "CreatedDate",
                title: "Ngày tải",
                format: "{0:dd/MM/yyyy HH:mm:ss}"
            }
            ]
        }).data("kendoGrid");

        $("#vertical").kendoSplitter({
            orientation: "vertical",
            panes: [
                { collapsible: false }
            ]
        });

        var splitter = $("#horizontal").kendoSplitter({
            orientation: "horizontal",
            panes: [
                { collapsible: true }
            ]
        }).data("kendoSplitter");
    });
</script>

